@model CCSHealthFamilyWelfareDept.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script type="text/javascript">
    function RefreshCaptcha() {
        var img = document.getElementById("imgCaptcha");
        img.src = '@Url.Action("GetCaptchaimage", "Account")' + "?query=" + Math.random();
    }
</script>


<div class="col-md-6 lg-left">
    <div class="instruction">
        <h3>पासवर्ड भूल जाने की स्थिति हेतु निर्देश:</h3>
        <div class="nano-content" id="demo">
            <ul>
                <li>अपना <strong>“Registered Mobile Number” </strong>भरकर <strong>"Send OTP"</strong> बटन पर क्लिक करें।</li>
                <li>निर्दिष्ट फ़ील्ड में मोबाइल नंबर की जांच करें यदि मोबाइल नंबर सही है, तो <strong>"Send OTP"</strong> बटन पर क्लिक करें, अन्यथा नया <strong>“Mobile Number”</strong>और <strong>“Captcha”</strong> टाइप करें और <strong>"Send OTP"</strong> बटन पर क्लिक करें, जिसके उपरांत ओटीपी आपके पंजीकृत मोबाइल नंबर पर भेजा जाएगा।</li>
                <li>निर्दिष्ट फ़ील्ड में ओटीपी कोड दर्ज करें और <strong>"Verify OTP"</strong> बटन पर क्लिक करें। इसके बाद आपको <strong>"Enter New Password"</strong> पृष्ठ पर पुनः निर्देशित किया जाएगा।</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 bg-color">
    <div class="row">
        <div class="lg-right" style="min-height: 435px;">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#Login">Forgot Password</a></li>
            </ul>
            <div class="tab-content">
                <div id="Login" class="tab-pane fade in active">
                    <div class="login-content">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken() 
                            <div class="row">
                                <div class="col-md-121">
                                    <div class="form-group">
                                        <label>Registered Mobile Number <span style="color: red;">*</span></label>
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control user-pass", @autocomplete = "off", @placeholder = "Enter registered mobile number" })
                                        @Html.ValidationMessageFor(m => m.MobileNo)
                                        @*<input name="" type="text" class="form-control" placeholder="Enter your mobile number" />*@
                                        <span class="focus-border"><i></i></span>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="row">
                                <div class="form-group mt-25">
                                    <div class="form-group col-md-5" style="padding: 0; margin: 0;">
                                        @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control captcha-text", autocomplete = "off", placeholder = "CAPTCHA" })
                                    </div>
                                    <div class="col-md-7 smalltext" style="padding-right: 0px;">
                                        <div class="captcha">
                                            <img src='@Url.Action("GetCaptchaimage", "Account")' style="border:solid 1px" id="imgCaptcha" class="captchimg" />
                                            <a href="javascript:void()" onclick="javascript: RefreshCaptcha();">
                                                <img src="~/Images/refresh.png" alt="Refresh Captcha" title="Refresh Captcha" /></a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0">
                                        @Html.ValidationMessageFor(m => m.Captcha)
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Send OTP" class="btn btn-warning btn-lg btn-block" />
                                    </div>
                                </div>
                            </div> 
                            <div class="row btnVerifyMobile" style="display:none">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-7 text-right"></div>
                                <div class="form-group">
                                        <input type="Button" id="BTNVRFY" value="Verify Mobile" class="btn btn-warning btn-lg btn-block" />
                                    </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-5">&nbsp;</div>
                                <div class="col-md-7 text-right"><a href="@Url.Action("Login", "Account")">Back to Login</a></div>
                            </div> 
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ('@ViewBag.Msg' != '' && '@ViewBag.MsgStatus' != '') {
            swal("", "@ViewBag.Msg", "@ViewBag.MsgStatus");
        }
        $(".btnVerifyMobile").hide();
        if ($('span[data-valmsg-for="MobileNo"]').text() == "Your Mobile No is not Verified kindly Contact to Department for Reset Your Password.") 
        {  
                debugger;
        $(".btnVerifyMobile").show();
        }
        $("#BTNVRFY").click(function (event) {
            window.location.replace('@Url.Action("VerifyMobile", "Account")' + "?userName=" + $("#MobileNo").val());
        });
        $('#Captcha').val('');
    });
</script>
