@model CCSHealthFamilyWelfareDept.Models.PasswordChangeModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script type="text/javascript">
    function RefreshCaptcha() {
        var img = document.getElementById("imgCaptcha");
        //img.src = "/Master/GetCaptchaimage?query=" + Math.random();
        img.src = '@Url.Action("GetCaptchaimage", "Account")' + "?query=" + Math.random();
    }
</script>


<div class="col-md-6 lg-left">
    <div class="instruction">
        <h3>पासवर्ड की दोबारा प्राप्ति हेतु निर्देश :-</h3>
        <div class="nano-content" id="demo">
            <ul>
                <li>आपके ओटीपी को सत्यापित करने के बाद, निर्दिष्ट फ़ील्ड में <strong>"New Password"</strong> , <strong>"Confirm New Password"</strong>तथा <strong>"Captcha"</strong> भरकर <strong>"Change Password"</strong> बटन पर क्लिक करें।</li>
                <li>इसके उपरांत <strong>"Login"</strong> पृष्ठ प्रदर्शित होने लगेगा।</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-6 bg-color">
    <div class="row">
        <div class="lg-right" style="min-height: 435px;">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#Login">Reset Password</a></li>
            </ul>
            <div class="tab-content">
                <div id="Login" class="tab-pane fade in active">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() 
                        <div class="login-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.newPassword)
                                        @Html.PasswordFor(m => m.newPassword, new { @class = "form-control user-textbox", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.newPassword)
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.confirmPassword)
                                        @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control user-textbox", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(m => m.confirmPassword)
                                        @Html.HiddenFor(m => m.UserId)
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="form-group col-md-4" style="padding: 0; margin: 0;">
                                        @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control captcha-text", autocomplete = "off", placeholder = "CAPTCHA" })
                                    </div>
                                    <div class="col-md-8 smalltext" style="padding-right: 0px;">
                                        <div class="captcha">
                                            <img src='@Url.Action("GetCaptchaimage", "Account")' style="border:solid 1px" id="imgCaptcha" class="captchimg" />
                                            <a href="javascript:void()" onclick="javascript: RefreshCaptcha();">
                                                <img src="~/Images/refresh.png" alt="Refresh Captcha" title="Refresh Captcha" /></a>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12" style="padding: 0">
                                        @Html.ValidationMessageFor(m => m.Captcha)
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Change Password " name="passwordchange" class="btn btn-block btn-warning" id="txtchnage" />
                                        @*<a href="dashboard.html" class="btn btn-warning btn-lg btn-block">Login</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ('@ViewBag.Msg' != '') {
            swal("", "@ViewBag.Msg", "error");
        }

        $('#Captcha').val('');
    });
</script>
