@model CCSHealthFamilyWelfareDept.Models.UserDetailsModel

@if (Model != null)
{  
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>User Details</h4>
                        </span>
                    </div>
            <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <td style="width: 16%"><strong>Name</strong></td>
                    <td style="width: 16%">@Model.DisplayName</td>
                    <td style="width: 15%"><strong>Mobile No.</strong></td>
                    <td style="width: 16%">@Model.mobileNo</td>
                     <td><strong>Designation</strong></td>
                    <td>@Model.designation</td>
                </tr>
                <tr> 
                    <td><strong>Id Proof</strong></td>
                    <td>@Model.idProofName</td>                   
                    <td><strong>Id Proof No.</strong></td>
                    <td>@Model.idProofNo</td>
                    <td style="width: 15%"><strong>User ID</strong></td>
                    <td style="width: 15%">@Model.UserName</td>
                </tr>
            </table>
                </div>
            </div>
        </div> 
}
