@model CCSHealthFamilyWelfareDept.Models.AGCModel
@{
    ViewBag.Title = "AGCDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .stronglbl label {
        font-weight: 600 !important;
        display: block;
    }
    /*.stronglbl label:after {
            content:":";
            float:right;
            display:block;
        }*/
    .form-group {
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="content-title">
    <h3 class="main-title">Age Certificate Details       
    <a href="@Url.Action("ViewAGCList", "AGC")" class="btn btn-info btn-md pull-right">Back</a></h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body stronglbl">
                <h4>Requester's Details</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Application No.</label>
                    </div>
                    <div class="col-md-3">
                        @Model.registrationNo
                    </div>
                    <div class="col-md-3">
                        <label>Requested By </label>
                    </div>
                    <div class="col-md-3">
                        @Model.applicantTypeName
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>@Model.applicantTypeName</label>
                    </div>
                    <div class="col-md-3">
                        @Model.applicantSubTypeName
                    </div>
                    <div class="col-md-3">
                        <label>Order Detail</label>
                    </div>
                    <div class="col-md-3">
                        @Model.orderDetail
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Order Number</label>
                    </div>
                    <div class="col-md-3">
                        @Model.orderNo
                    </div>
                    <div class="col-md-3">
                        <label>Order Date</label>
                    </div>
                    <div class="col-md-3">
                        @Model.orderDate
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Order File</label>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Content(@Model.orderFile)" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <h4>Brought By Details</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.fullName
                    </div>
                    <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        @Model.gender
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Id Number</label>
                    </div>
                    <div class="col-md-3">
                        @Model.idNumber
                    </div>
                    <div class="col-md-3">
                        <label>Id Type</label>
                    </div>
                    <div class="col-md-3">
                        @* <a href="@Url.Content(@Model.photoPath)" class="btn btn-info btn-md" target="_blank">Download</a>*@
                        @Model.idTypeName
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Mobile Number</label>
                    </div>
                    <div class="col-md-3">
                        @Model.mobileNo
                    </div>
                    <div class="col-md-3">
                        <label>Email</label>
                    </div>
                    <div class="col-md-3">
                        @Model.emailId
                        @* <a href="@Url.Content(@Model.addressproofFilePath)" class="btn btn-info btn-md" target="_blank">Download</a>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Address</label>
                    </div>
                    <div class="col-md-3">
                        @Model.address
                    </div>
                    <div class="col-md-3">
                        <label>State</label>
                    </div>
                    <div class="col-md-3">
                        @Model.StateName
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>District</label>
                    </div>
                    <div class="col-md-3">
                        @Model.DistrictName
                    </div>
                    <div class="col-md-3">
                        <label>Pin Code</label>
                    </div>
                    <div class="col-md-3">
                        @Model.pinCode
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Document File</label>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Content(@Model.documentFile)" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <h4>Person Detail</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susName
                    </div>
                    <div class="col-md-3">
                        <label>Father's Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susFatherName
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Mother's Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susMotherName
                    </div>
                    <div class="col-md-3">
                        <label>Father's Age</label>
                    </div>
                    <div class="col-md-3">
                        @if (Model.susFatherAge == 0)
                        {
                            <label></label>
                        }
                        else
                        {
                            @Model.susFatherAge
                        }                       
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Mother's Age</label>
                    </div>
                    <div class="col-md-3">
                         @if (Model.susMotherAge == 0)
                        {
                            <label></label>
                        }
                        else
                        {
                            @Model.susMotherAge
                        }  
                    </div>
                    <div class="col-md-3">
                        <label>Mobile Number</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susMobileNo
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Email</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susEmail
                    </div>
                    <div class="col-md-3">
                        <label>Appointment Date</label>
                    </div>
                    <div class="col-md-3">
                        @DateTime.Parse(@Model.appointmentDate).ToShortDateString()
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>Address</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susaddress
                    </div>
                    <div class="col-md-3">
                        <label>State</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susStateName
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>District</label>
                    </div>
                    <div class="col-md-3">
                        @Model.susDistrictName
                    </div>
                    <div class="col-md-3">
                        <label>Pin Code</label>
                    </div>
                    <div class="col-md-3">
                        @Model.suspinCode
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Mark Of Identification</label>
                    </div>
                    <div class="col-md-3">

                        @Model.markOfIdentification

                    </div>
                    <div class="col-md-3">
                        <label>Photograph</label>
                    </div>
                    <div class="col-md-3">
                        @if (Model.susphotoFile == "Not Uploaded")
                        {
                            @Model.susphotoFile
                        }
                        else
                        {
                            <a href="@Url.Content(@Model.susphotoFile)" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                 <div class="form-group">
                   
                    <div class="col-md-3">
                        <label>Thumb Impression</label>
                    </div>
                    <div class="col-md-3">
                        @if (Model.susThumbFile == null)
                        {
                          <label></label>
                        }
                        else
                        {
                            <a href="@Url.Content(@Model.susThumbFile)" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


