@model List<CCSHealthFamilyWelfareDept.Models.NUHDetailsModel>
@using OTPL_Imp

@using CCSHealthFamilyWelfareDept.Models;
@{
    int rowSpan = 1, rowSpan1 = 1;
    int sNo = 0;
    SessionManager SM = new SessionManager();
    
}
<style>
    .webgrid-header a {
        color: white;
        text-decoration: none;
    }

    #divDataList .table > thead > tr > th:last-child {
        width: 8%;
    }

    #divDataList .table > tbody > tr > td:last-child {
        text-align: center;
    }

    #uploadbutton {
        background: #00c3db none repeat scroll 0 0;
        border-radius: 2px;
        text-transform: uppercase;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0,0,0,.3);
        color: white;
        transition-duration: .2s;
        font-size: 23px;
    }

    #removebutton {
        background: #db0000 none repeat scroll 0 0;
        border-radius: 2px;
        text-transform: uppercase;
        box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0,0,0,.3);
        color: white;
        transition-duration: .2s;
        font-size: 23px;
    }

    ul.circle li a img {
        margin: 0 auto 5px;
        display: block;
        background: #0ea7bc;
        border-radius: 7px;
        padding: 3px;
        width: 500px;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0);
        }

        to {
            -webkit-transform: scale(1);
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>





@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        <div>
            <table id="tblCountList1" border="1" class="table-user-information table table-bordered table-striped" cellpadding="2" cellspacing="0" width="100%" style="font-size: 13px;">
                <thead style="background: #237382; color: #fff; padding: 5px;">
                    <tr>
                        <th>Sr.No.</th>
                        <th>District</th>


                        <th class="no-sort"><strong>Total Application</strong></th>
                        <th class="no-sort"><strong>Uploaded</strong></th>
                        <th class="no-sort"><strong>Remaining</strong></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            sNo++;
                        <tr>
                            <td style="text-align: center;">@sNo</td>
                            <td>@item.DistrictName</td>
                           @* UploadImageApplicationMoreThanFourtNineListNUHApplication*@

                              <td style="text-align: center;">@Html.Raw(item.TotalCount > 0 ? "<a href=" + @Url.Action("UploadImageCountApplicationMoreThanFourtNineListNUH", "Report", new { StatusValue = @OTPL_Imp.CustomCryptography.Encrypt("0") ,DistrictId = @OTPL_Imp.CustomCryptography.Encrypt(item.districtid.ToString())}) + ">" + item.TotalCount + "</a>" : item.TotalCount.ToString())</td>
                            <td style="text-align: center;">@Html.Raw(item.TotalUpload > 0 ? "<a href=" + @Url.Action("UploadImageCountApplicationMoreThanFourtNineListNUH", "Report", new { StatusValue = @OTPL_Imp.CustomCryptography.Encrypt("1") ,DistrictId = @OTPL_Imp.CustomCryptography.Encrypt(item.districtid.ToString()) }) + ">" + item.TotalUpload + "</a>" : item.TotalUpload.ToString())</td>

                            <td style="text-align: center;">@Html.Raw(item.TotalRemaining > 0 ? "<a href=" + @Url.Action("UploadImageCountApplicationMoreThanFourtNineListNUH", "Report", new { StatusValue = @OTPL_Imp.CustomCryptography.Encrypt("2") ,DistrictId = @OTPL_Imp.CustomCryptography.Encrypt(item.districtid.ToString()) }) + ">" + item.TotalRemaining + "</a>" : item.TotalRemaining.ToString())</td>

                           
                          
                        </tr>                          
                        }
                        <tr id="totalRow">




                            <td rowspan="@rowSpan" style="text-align: center;"></td>
                            <td rowspan="@rowSpan"><strong>Total</strong></td>



                            <td style="text-align: center;">@Model.Sum(i => i.TotalCount)</td>
                            <td style="text-align: center;">@Model.Sum(i => i.TotalUpload)</td>
                            <td style="text-align: center;">@Model.Sum(i => i.TotalRemaining)</td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Record Not Found</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger form-control" style="font-weight: 600; font-size: 18px;">No record found !</span>
        </div>
    </div>
}









