@model List<CCSHealthFamilyWelfareDept.Models.CountReportModel>
@{
    int rowSpan = 1, sNo = 0;
    string preValue = "";
}

<div class="col-md-12">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="border-bottom:1px solid #333; padding-bottom:5px;">
                    <label class="bold">Division Name : </label>
                    @if (Model != null && Model.Count > 0)
                    {
                        <label>@Model.Select(m => m.zoneName).FirstOrDefault()</label>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">S.No.</th>
                            @if (ViewBag.ServiceId == 0)
                            {
                                <th>CMO District</th>
                                <th>Service Name</th>
                            }
                            else
                            { 
                                <th>Service Name</th>
                                <th>CMO District</th>
                            }
                            <th style="width: 5%; text-align: center;">Total Received</th>
                            <th style="width: 5%; text-align: center;">Approved</th>
                            <th style="width: 5%; text-align: center;">Rejected</th>
                            <th style="width: 5%; text-align: center;">Pending In-Time Limit</th>
                            <th style="width: 5%; text-align: center;">Pending After-Time Limit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            { 
                            <tr>
                                @if (ViewBag.ServiceId == 0)
                                {
                                    if (preValue != item.DistrictName)
                                    {
                                        sNo++;
                                        rowSpan = Model.Where(m => m.DistrictName == item.DistrictName).Count();
                                    <td rowspan="@rowSpan" style="text-align: center;">@sNo</td>  
                                    <td rowspan="@rowSpan">@item.DistrictName</td> 
                                    }
                                    <td>@item.serviceName</td>
                                }
                                else
                                {
                                    if (preValue != item.serviceName)
                                    {
                                        sNo++;
                                        rowSpan = Model.Where(m => m.serviceName == item.serviceName).Count();
                                    <td rowspan="@rowSpan" style="text-align: center;">@sNo</td>  
                                    <td rowspan="@rowSpan">@item.serviceName</td> 
                                    }
                                    <td>@item.DistrictName</td>
                                }

                                <td style="text-align: center;">@Html.Raw(item.totalReceived > 0 ? "<a href=" + @Url.Action("ApplicationDetails", "Report", new { appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("0"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt(@item.zoneId.ToString()), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) }) + ">" + item.totalReceived + "</a>" : item.totalReceived.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.approved > 0 ? "<a href=" + @Url.Action("ApplicationDetails", "Report", new { appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("1"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt(@item.zoneId.ToString()), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) }) + ">" + item.approved + "</a>" : item.approved.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.rejected > 0 ? "<a href=" + @Url.Action("ApplicationDetails", "Report", new { appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("2"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt(@item.zoneId.ToString()), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) }) + ">" + item.rejected + "</a>" : item.rejected.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.pendingInTimeLimit > 0 ? "<a href=" + @Url.Action("ApplicationDetails", "Report", new { appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("3"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt(@item.zoneId.ToString()), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) }) + ">" + item.pendingInTimeLimit + "</a>" : item.pendingInTimeLimit.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.pendingOverTimeLimit > 0 ? "<a href=" + @Url.Action("ApplicationDetails", "Report", new { appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("4"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt(@item.zoneId.ToString()), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) }) + ">" + item.pendingOverTimeLimit + "</a>" : item.pendingOverTimeLimit.ToString())</td>
                            </tr>
                                if (ViewBag.ServiceId == 0)
                                {
                                    preValue = item.DistrictName;
                                }
                                else
                                {
                                    preValue = item.serviceName;
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">Record Not Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


