@{
    ViewBag.Title = "CMOSRVDistrictWiseCountReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using CCSHealthFamilyWelfareDept.Models
@{
    SessionManager SM = new SessionManager();
}
<style>
    @@media print {
        a:link:after, a:visited:after {
            content: normal !important;
        }

        a[href]:after {
            content: normal !important;
        }
    }
</style>
<div class="content-title">
    <h3 class="main-title">
        <div class="col-md-12 text-left">
            @ViewBag.RollNameHi सर्विस विभाग वार रिपोर्ट की गणना
        <span class="small display-block">@ViewBag.RollName Service Division District Wise Count Report</span>
        </div>
    </h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    @if (ViewBag.ZoneId == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Filter Criteria</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Division</label>
                                    @Html.DropDownList("zoneId", (IEnumerable<SelectListItem>)ViewBag.DLLZone, "--All--", new { @class = "form-control select" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" id="btnSearch" class="btn btn-block btn-success">Search</button>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" id="btnRefresh" class="btn btn-block btn-danger">Refresh</button>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-block btn-primary" data-print="modal" onclick="PrintDoc()">Print</button>
                            </div>
                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" class="btn btn-block btn-warning" id="btnExportExcel">Export Excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div id="DIV-ApplicationList">
                    @Html.Action("CMOSRVDistrictWiseCountReportList", "Report", new { rollId = ViewBag.RollId, zoneId = ViewBag.ZoneId })
                    <div class="dn" style="font-size: 12px; text-align: center; margin-top:70%; bottom: 0px; width: 99%;">** This is a Software Generated Report **</div>

                </div>
                <input type="hidden" id="hdnRollId" value="@ViewBag.RollId" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        if ('@TempData["Msg"]' != "" && '@TempData["MsgStatus"]' != "") {

            swal("", '@TempData["Msg"]', '@TempData["MsgStatus"]');

        }

        $("#btnSearch").click(function () {
            bindCMOSRVDistrictWiseCountReportList($("#zoneId").val(), $("#hdnRollId").val());
        });

        $("#btnRefresh").click(function () {
            $("#zoneId").val('');
            bindCMOSRVDistrictWiseCountReportList('0', $("#hdnRollId").val());
        });
    });

    $("#btnExportExcel").click(function () {

        window.location.href = '@Url.Action("ExportToExcel", "Report")';

    })

    function bindCMOSRVDistrictWiseCountReportList(_zoneId, _rollId) {
        var img = "<img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:40%; margin-top:25px' />";
        $('#DIV-ApplicationList').html(img);

        $.ajax({
            url: '@Url.Action("CMOSRVDistrictWiseCountReportList", "Report")',
            data: { zoneId: _zoneId, rollId: _rollId },
            type: 'GET',
            dataType: 'HTML'
        })
        .success(function (returndata) {
            $('#DIV-ApplicationList').html(returndata);
        })
        .error(function (xhr, status) {
            $('#DIV-ApplicationList').html('');
            swal("", 'Details Not Found !', "warning");
        });
    }
</script>

<script>

    function PrintDoc() {

        var toPrint = document.getElementById('DIV-ApplicationList');

        var popupWin = window.open('', '_blank', 'left=100,top=100,width=1100,height=600,tollbar=0,scrollbars=1,status=0,resizable=1');

        popupWin.document.open();

        popupWin.document.write('<html><title>::Preview::</title> <style>body{font-family:Arial} table tr td, table tr th{font-size:14px; padding:5px;} a:link:after, a:visited:after{content: normal !important;} a[href]:after{content: normal !important;} a{text-decoration: none; color: #000; cursor: default;} #pageFooter:after {counter-increment: page; content: counter(page);} .dn {display:block;}</style></head><body onload="window.print()"><h2 style="text-align:center; margin:0px 0 3px 0; padding-right:50px;"><img src="../Images/logo.jpg" style="float:left;" />Department of Medical Health & Family Welfare <br> <span style="font-size:20px;"> Government of Uttar Pradesh</span></h2><h3 style="border-top:1px solid #333; margin:10px 0 10px 0; padding-top:5px; text-align:center; font-size:16px;" text-decoration: underline;">Status of Application Received For Services Under Janhit Guarantee Adhiniyam, 2011</h3><table style="width:100%"><tr><td align="center" colspan="2"><b>Division District Wise Count Report for ' + '@ViewBag.FullRollName' + '</b></td></tr><tr><td><b>Login of: </b> @SM.RollName</td><td align="right"><b>Report Code: </b>' + '@ViewBag.RollName' + '-DIDWCR-01</td></tr><td><b>Report Period: </b>01/07/2018 <b>to</b> @System.DateTime.Today.ToShortDateString() </td><td align="right"><b>Report Printed On: </b> @System.DateTime.Today.ToShortDateString() </td></tr></table> ')

        popupWin.document.write(toPrint.innerHTML);

        popupWin.document.write('</body></html>');

        popupWin.document.close();

    }
</script>
