@model List<CCSHealthFamilyWelfareDept.Models.ReportsModel>
@{
    ViewBag.Title = "ProcessCountReportFAP";
    Layout = null;
}
@{int i = 1, totalPage=1;}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <style type="text/css">
        .btn
        {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-primary
        {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        .btn-danger
        {
            color: #fff;
            background-color: #f67171;
            border: 1px solid #ef6262;
        }

        body
        {
            font-family: Arial;
        }

        #pageFooter:after
        {
            counter-increment: page;
            content: counter(page);
        }
    </style>
</head>

<body>
    <div style="text-align: right; padding: 5px;">
        @if (TempData["RollID"].ToString() == "ADM")
        {
            <a href="@Url.Action("ProcessCountReport_AD", "Report")" class="btn btn-danger">Back</a>
        }
        else if (TempData["RollID"].ToString() == "admin")
        {
            <a href="@Url.Action("ProcessCountReportAdmin", "Report")" class="btn btn-danger">Back</a>
        }
        else
        {
            <a href="@Url.Action("ProcessCountReport", "Report")" class="btn btn-danger">Back</a>
        }
        <button type="button" class="btn btn-primary" data-print="modal" onclick="PrintDoc()">Print</button>
    </div>
    <div id="prodiv" style="text-align: center;">
        @if (TempData["RollID"].ToString() == "admin")
        {
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td rowspan="2" style="width: 20%; text-align: left; vertical-align: top;">
                        <img src="~/Images/up-logo-en.png" alt="logo" style="width: 90px;" />
                    </td>
                    <td style="font-size: 26px;"><strong>Department of Medical Health &amp; Family Welfare</strong></td>
                    <td rowspan="2" style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="font-size: 16px; padding-bottom: 20px;"><strong>Government of Uttar Pradesh</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 16px; text-align:center; padding-bottom: 20px;"><strong>Swasthya Bhawan, Qaiserbagh Lucknow, UP- 226001</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 19px; text-decoration: underline; padding-bottom: 15px; border-top: 2px solid #000;"><strong>Online Application For Approval of Claim Made Under Unsuccessful Family Planning@(!string.IsNullOrEmpty(ViewBag.Division) ? ViewBag.Division : "")</strong></td>
                </tr>


                <tr>
                    <td colspan="3" style="font-size: 13px; text-decoration: underline;"><strong>@(string.IsNullOrEmpty(ViewBag.Division) ? "District Wise    Count Report for Chief Medical Officer" : "")</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Login of: </strong>Admin</span>
                        <span style="float: right;"><strong>Report Code:-</strong>
                            <label>DWCR(FAP)-01</label></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Report Period: </strong>@Model[0].fromDate <strong>To </strong>@Model[0].toDate</span>
                        <span style="float: right;"><strong>Report Printed On:-</strong>
                            <label>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</label></span>
                    </td>
                </tr>
            </table>
            <table border="1" cellpadding="2" cellspacing="0" width="100%" style="font-size: 13px;">
                <thead>
                <tr>
                    <td rowspan="3"><strong>S.No</strong></td>
                    <td rowspan="3"><strong>District    Wise CMO Office</strong></td>
                    <td colspan="3"><strong>No. of Applications    Received Through</strong></td>
                  
                    <td colspan="3"><strong>STEP - 1 </strong></td>
                    <td><strong>STEP - 2</strong></td>
                    <td><strong>Step -3</strong></td>
                    <td><strong>STEP - 4</strong></td>
                    <td><strong>STEP - 5</strong></td>
                    <td colspan="2"><strong>STEP - 6</strong></td>
                </tr>
                <tr>
                    <td rowspan="2"><strong>Health Portal</strong></td>
                    <td rowspan="2"><strong>E-district</strong></td>
                    <td rowspan="2"  style="font-weight:900; font-size:15px;"><strong>Total</strong></td>
                    <td colspan="3"><strong>Total No.    of Applications</strong></td>
                    <td rowspan="2"><strong>No.    of Applications forwarded to CHC/DH/PHC</strong></td>
                    <td rowspan="2"><strong>No.    of Inspections Scheduled</strong></td>
                    <td rowspan="2"><strong>No.    of Reports Uploaded of District Committee</strong></td>
                    <td rowspan="2"><strong>No.    of Reports Uploaded of State Committee</strong></td>
                    <td colspan="2"><strong>Final Status of Sanctions</strong></td>
                   
                </tr>
                <tr>
                    <td><strong>Scrutnized</strong></td>              
                    <td><strong>Rejected</strong></td>
                    <td><strong>Accepted</strong></td>
                     <td><strong>Rejected</strong></td>
                    <td><strong>Approved</strong></td>
                </tr>
                    </thead>
                <tbody>
                
                @foreach (var v in Model)
                {
                    <tr>
                        <td><span>@i</span></td>
                        <td style="text-align: left;"><span>@v.DistrictName</span></td>
                        <td><span>@v.citizen</span></td>
                        <td><span>@v.cmo</span></td>
                        <td style="font-weight:900; font-size:15px;"><span>@v.total</span></td>
                        <td><span>@v.Pending</span></td>
                        <td><span>@v.ApplicationRejected</span></td>
                        <td><span>@v.Application_Accepted</span></td>
                        <td><span>@v.Application_Forwarded</span></td>
                        <td><span>@v.Inspection_Scheduled</span></td>
                        <td><span>@v.District_Committee_Report_Uploaded</span></td>
                        <td><span>@v.State_Committee_Report_Uploaded</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_uploaded</strong></td>*@
                        <td><span>@v.InspectionRpt_Rejected</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_Acc</strong></td>*@
                        <td><span>@v.Sanction_Apporved</span></td>

                    </tr> i++;
                           
                          if (i == 20)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        @*<td colspan="15"><label>Continue.....</label></td>*@
                    </tr>
                          }
                          else if (i == 48)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        @*<td colspan="15"><label>Continue.....</label></td>*@
                    </tr>
                          }
                }
                <tr style="font-weight:900; font-size:15px;">
                    <td>&nbsp;</td>
                    <td><strong>Total</strong></td>
                    <td><span>@Model.Sum(m => m.citizen)</span></td>
                    <td><span>@Model.Sum(m => m.cmo)</span></td>
                    <td><span>@Model.Sum(m => m.total)</span></td>
                    <td><span>@Model.Sum(m => m.Pending)</span></td>
                    <td><span>@Model.Sum(m => m.ApplicationRejected)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Accepted)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Forwarded)</span></td>
                    <td><span>@Model.Sum(m => m.Inspection_Scheduled)</span></td>
                    <td><span>@Model.Sum(m => m.District_Committee_Report_Uploaded)</span></td>
                    <td><span>@Model.Sum(m => m.State_Committee_Report_Uploaded)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_uploaded)</strong></td>*@
                    <td><span>@Model.Sum(m => m.InspectionRpt_Rejected)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_Acc)</strong></td>*@
                    <td><span>@Model.Sum(m => m.Sanction_Apporved)</span></td>
                </tr>
                    </tbody>
            </table>
        }
        else if (TempData["RollID"].ToString() == "ADM")
        {
            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <td rowspan="2" style="width: 20%; text-align: left; vertical-align: top;">
                        <img src="~/Images/up-logo-en.png" alt="logo" style="width: 90px;" />
                    </td>
                    <td style="font-size: 26px;"><strong>Department of Medical Health &amp; Family Welfare</strong></td>
                    <td rowspan="2" style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="font-size: 16px; padding-bottom: 20px;"><strong>Government of Uttar Pradesh</strong></td>
                </tr>
              <tr>
                    <td colspan="3" style="font-size: 16px; text-align:center; padding-bottom: 20px;"><strong>Office of Additional Director@(!string.IsNullOrEmpty(ViewBag.Division) ? ViewBag.Division : "")</strong></td>
                </tr>
                                <tr>
                    <td colspan="3" style="font-size: 19px; text-decoration: underline; padding-bottom: 15px; border-top: 2px solid #000;"><strong>Online Application For Approval of Claim Made Under Unsuccessful Family Planning</strong></td>
                </tr>
                
               
                 <tr>
                    <td colspan="3" style="font-size: 13px; text-decoration: underline;"><strong>District Wise    Count Report for Cheif Medical Officer</strong></td>
                </tr>
                     <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Login of: </strong>Additional Director</span>
                        <span style="float: right;"><strong>Report Code:-</strong>
                            <label>DWCR(FAP)-03</label></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Report Period: </strong>@Model[0].fromDate <strong>To </strong>@Model[0].toDate</span>
                        <span style="float: right;"><strong>Report Printed On:-</strong>
                            <label>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</label></span>
                    </td>
                </tr>
            </table>
            <table border="1" cellpadding="2" cellspacing="0" width="100%" style="font-size: 13px;">
                <thead>
                <tr>
                    <td rowspan="3"><strong>S.No</strong></td>
                    <td rowspan="3"><strong>District    Wise CMO Office</strong></td>
                    <td colspan="3"><strong>No. of Applications    Received Through</strong></td>
                   @* <td rowspan="3"><strong>No. of    Applications Pending</strong></td>*@
                    <td colspan="3"><strong>STEP - 1 </strong></td>
                    <td><strong>STEP - 2</strong></td>
                    <td><strong>Step -3</strong></td>
                    <td><strong>STEP - 4</strong></td>
                    <td><strong>STEP - 5</strong></td>
                    <td colspan="2"><strong>STEP - 6</strong></td>
                </tr>
                <tr>
                   <td rowspan="2"><strong>Health Portal</strong></td>
                    <td rowspan="2"><strong>E-district</strong></td>
                    <td rowspan="2"  style="font-weight:900; font-size:15px;"><strong>Total</strong></td>
                    <td colspan="3"><strong>Total No.    of Applications</strong></td>
                    <td rowspan="2"><strong>No.    of Applications forwarded to CHC/DH/PHC</strong></td>
                    <td rowspan="2"><strong>No.    of Inspections Scheduled</strong></td>
                    <td rowspan="2"><strong>No.    of Reports Uploaded of District Committee</strong></td>
                    <td rowspan="2"><strong>No.    of Reports Uploaded of State Committee</strong></td>
                    <td colspan="2"><strong>Final Status of Sanctions</strong></td>
                   
                </tr>
                <tr>
                    <td><strong>Scrutnized</strong></td>              
                    <td><strong>Rejected</strong></td>
                    <td><strong>Accepted</strong></td>
                     <td><strong>Rejected</strong></td>
                    <td><strong>Approved</strong></td>
                </tr>
                    </thead>
                <tbody>
              
                @foreach (var v in Model)
                {
                    <tr>
                        <td><span>@i</span></td>
                        <td style="text-align: left;"><span>@v.DistrictName</span></td>
                        <td><span>@v.citizen</span></td>
                        <td><span>@v.cmo</span></td>
                        <td style="font-weight:900; font-size:15px;"><span>@v.total</span></td>
                        <td><span>@v.Pending</span></td>
                        <td><span>@v.ApplicationRejected</span></td>
                        <td><span>@v.Application_Accepted</span></td>
                        <td><span>@v.Application_Forwarded</span></td>
                        <td><span>@v.Inspection_Scheduled</span></td>
                        <td><span>@v.District_Committee_Report_Uploaded</span></td>
                        <td><span>@v.State_Committee_Report_Uploaded</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_uploaded</strong></td>*@
                        <td><span>@v.InspectionRpt_Rejected</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_Acc</strong></td>*@
                        <td><span>@v.Sanction_Apporved</span></td>

                    </tr> i++;
                          if (i == 20)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        
                    </tr>
                    
                          }
                          else if (i == 48)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        
                    </tr>
                          }
                }
                <tr style="font-weight:900; font-size:15px;">
                    <td>&nbsp;</td>
                    <td style="font-weight:900; font-size:15px;"><strong>Total</strong></td>
                    <td><span>@Model.Sum(m => m.citizen)</span></td>
                    <td><span>@Model.Sum(m => m.cmo)</span></td>
                    <td><span>@Model.Sum(m => m.total)</span></td>
                    <td><span>@Model.Sum(m => m.Pending)</span></td>
                    <td><span>@Model.Sum(m => m.ApplicationRejected)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Accepted)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Forwarded)</span></td>
                    <td><span>@Model.Sum(m => m.Inspection_Scheduled)</span></td>
                    <td><span>@Model.Sum(m => m.District_Committee_Report_Uploaded)</span></td>
                    <td><span>@Model.Sum(m => m.State_Committee_Report_Uploaded)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_uploaded)</strong></td>*@
                    <td><span>@Model.Sum(m => m.InspectionRpt_Rejected)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_Acc)</strong></td>*@
                    <td><span>@Model.Sum(m => m.Sanction_Apporved)</span></td>
                </tr>
                    </tbody>
            </table>
        }
        else if (TempData["RollID"].ToString() == "CMO")
        {
            <table border="0" cellpadding="2" cellspacing="0" width="100%">

                <tr>
                    <td rowspan="2" style="width: 20%; text-align: left; vertical-align: top;">
                        <img src="~/Images/up-logo-en.png" alt="logo" style="width: 90px;" />
                    </td>
                    <td style="font-size: 26px;"><strong>Department of Medical Health &amp; Family Welfare</strong></td>
                    <td rowspan="2" style="width: 20%;"></td>
                </tr>
                <tr>
                    <td style="font-size: 16px; padding-bottom: 20px;"><strong>Government of Uttar Pradesh</strong></td>
                </tr>
                  <tr>
                    <td colspan="3" style="font-size: 16px; text-align:center; padding-bottom: 20px;"><strong>Office of Chief Medical Officer (CMO), District- <span>@Model[0].DistrictName</span></strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 19px; text-decoration: underline; padding-bottom: 15px; border-top: 2px solid #000;"><strong>Online Application For Approval of Claim Made Under Unsuccessful Family Planning</strong></td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; text-decoration: underline;"><strong>Step Wise Status Report</strong></td>
                </tr>
                  
                    <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Login of: </strong>CMO</span>
                        <span style="float: right;"><strong>Report Code:-</strong>
                            <label>SWSR(FAP)-02</label></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="font-size: 13px; padding-bottom: 15px;">
                        <span style="float: left;"><strong>Report Period: </strong>@Model[0].fromDate <strong>To </strong>@Model[0].toDate</span>
                        <span style="float: right;"><strong>Report Printed On:-</strong>
                            <label>@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</label></span>
                    </td>
                </tr>
            </table>
            <table border="1" cellpadding="2" cellspacing="0" width="100%" style="font-size: 13px;">
                 <thead>
                <tr>
                    <td rowspan="3"><strong>S. No</strong></td>
                    <td colspan="3"><strong>No. of Applications    Received Through</strong></td>
                   
                    <td colspan="3"><strong>STEP - 1 </strong></td>
                    <td><strong>STEP - 2</strong></td>
                    <td><strong>Step -3</strong></td>
                    <td><strong>STEP - 4</strong></td>
                    <td><strong>STEP - 5</strong></td>
                    <td colspan="2"><strong>STEP - 6</strong></td>
                </tr>
                <tr>
                    <td rowspan="2"><strong>Health Portal</strong></td>
                    <td rowspan="2"><strong>E-district</strong></td>
                    <td rowspan="2" style="font-weight:900; font-size:15px;"><strong>Total</strong></td>
                    <td colspan="3"><strong>Total No.    of Applications</strong></td>
                   <td rowspan="2"><strong>No.    of Applications forwarded to CHC/DH/PHC</strong></td>
                    <td rowspan="2"><strong>No.    of Inspections Scheduled</strong></td>
                     <td rowspan="2"><strong>No.    of Reports Uploaded of District Committee</strong></td>
                    <td rowspan="2"><strong>No.    of Reports Uploaded of State Committee</strong></td>
                   
                    <td colspan="2"><strong>Final Status of Sanctions</strong></td>
                </tr>
                <tr>
                     <td><strong>Scrutnized</strong></td>   
                    <td><strong>Rejected</strong></td>
                    <td><strong>Accepted</strong></td>
                    <td><strong>Rejected</strong></td>
                    <td><strong>Approved</strong></td>
                </tr>
                      </thead>
                <tbody>
               
                @foreach (var v in Model)
                {
                    <tr>
                        <td><span>@i</span></td>
                        @*  <td><strong>@v.DistrictName</strong></td>*@
                        <td><span>@v.citizen</span></td>
                        <td><span>@v.cmo</span></td>
                        <td style="font-weight:900; font-size:15px;"><span>@v.total</span></td>
                        <td><span>@v.Pending</span></td>
                        <td><span>@v.ApplicationRejected</span></td>
                        <td><span>@v.Application_Accepted</span></td>
                        <td><span>@v.Application_Forwarded</span></td>
                        <td><span>@v.Inspection_Scheduled</span></td>
                        <td><span>@v.District_Committee_Report_Uploaded</span></td>
                        <td><span>@v.State_Committee_Report_Uploaded</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_uploaded</strong></td>*@
                        <td><span>@v.InspectionRpt_Rejected</span></td>
                        @* -- <td><strong>@v.Inspection_Rpt_Acc</strong></td>*@
                        <td><span>@v.Sanction_Apporved</span></td>

                    </tr> i++;
                          if (i == 20)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        
                    </tr>
                    
                          }
                          else if (i == 48)
                          {
                              totalPage++;
                    <tr style="page-break-after: always;">
                        
                    </tr>
                          }

                }
                <tr style="font-weight:900; font-size:15px;">
                    @*  <td>&nbsp;</td>*@
                    <td style="font-weight:900; font-size:15px;"><strong>Total</strong></td>
                    <td><span>@Model.Sum(m => m.citizen)</span></td>
                    <td><span>@Model.Sum(m => m.cmo)</span></td>
                    <td><span>@Model.Sum(m => m.total)</span></td>
                    <td><span>@Model.Sum(m => m.Pending)</span></td>
                    <td><span>@Model.Sum(m => m.ApplicationRejected)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Accepted)</span></td>
                    <td><span>@Model.Sum(m => m.Application_Forwarded)</span></td>
                    <td><span>@Model.Sum(m => m.Inspection_Scheduled)</span></td>
                    <td><span>@Model.Sum(m => m.District_Committee_Report_Uploaded)</span></td>
                    <td><span>@Model.Sum(m => m.State_Committee_Report_Uploaded)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_uploaded)</strong></td>*@
                    <td><span>@Model.Sum(m => m.InspectionRpt_Rejected)</span></td>
                    @*<td><strong>@Model.Sum(m=>m.Inspection_Rpt_Acc)</strong></td>*@
                    <td><span>@Model.Sum(m => m.Sanction_Apporved)</span></td>
                </tr>
                    </tbody>
            </table>    
        }
        else
        {
            <label>Some Error Ocuured</label>
        }
       
                          
       <div style="font-size: 12px; text-align: right; position: fixed; bottom: 20px; width: 99%;"><strong id="pageFooter">Page</strong><strong>&nbsp;of&nbsp;@totalPage</strong> </div>
         
        <div style="font-size: 12px; text-align: center; position: fixed; bottom: 5px; width: 99%;">** This is a Software Generated Report **</div>
    </div>

</body>
</html>
<script type="text/javascript">
     
    function PrintDoc() {

        var toPrint = document.getElementById('prodiv');

        var popupWin = window.open('', '_blank', 'left=100,top=100,width=1100,height=600,tollbar=0,scrollbars=1,status=0,resizable=1');

        popupWin.document.open();

        popupWin.document.write('<html><title>::Preview::</title> <style>body{font-family: Arial;} table td{padding:2; text-align:center;} .btn{dispaly:none;} #pageFooter:after {counter-increment: page; content: counter(page);}</style></head><body onload="window.print()"> ')

        popupWin.document.write(toPrint.innerHTML);

        popupWin.document.write('</body></html>');

        popupWin.document.close();

    }
</script>

@*<script type="text/javascript">$(function () {$('#prodiv').find('#pageFooter').each(function () {alert($(this).html());});});</script>*@
