@model CCSHealthFamilyWelfareDept.Models.ICCModel
@{
    ViewBag.Title = "ImmunizationChildrenCertificate";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .css-serial {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }

        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }

    .Dh {
        display: none;
    }

    tr.break td {
        height: 40px;
    }
</style>

@using (Html.BeginForm("ImmunizationChildrenCertificate", "ICC", FormMethod.Post, new { @id = "frmImmunizationChildrenCertificate" }))
{
    @Html.AntiForgeryToken()
    <section>
        <div class="content-title">
            <h3 class="main-title">Application Form For Immunization of Children</h3>
        </div>

        <div id="content" class="dashboard padding-20 margin-bottom-50">
            <div class="row">
                <!-- InstanceBeginEditable name="content" -->
                <div class="col-md-12 inst" style="display: none;">
                    <div class="panel panel-default" style="margin-bottom: 5px;">
                        <div class="panel-body" style="padding: 3px 10px">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Note :-  <span class="text-danger">All files that will be uploaded should be in .jpg and .pdf format and maximum file size should be 2080 KB (2 MB).</span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <h4>Personal Information</h4>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Baby Of (Father Name) <span class="star">*</span></label>
                                        @Html.TextBoxFor(m => m.fatherName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.fatherName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.fatherName)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Baby Of (Mother Name)<span class="star">*</span></label>
                                        @Html.TextBoxFor(m => m.motherName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.motherName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.motherName)
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Child Name </label>
                                        @Html.TextBoxFor(m => m.fullName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.fullName, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.fullName)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>E-mail of Parent</label>
                                        @Html.TextBoxFor(m => m.emailId, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.emailId, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.emailId)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mobile Number of Parent<span class="star">*</span></label>
                                        @Html.TextBoxFor(m => m.mobileNo, new { @class = "form-control", @maxlength = 10, @onkeypress = "return isNumberKey(event);" })
                                        @Html.ValidationMessageFor(m => m.mobileNo, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.mobileNo)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>DOB Of Child<span class="star">*</span></label>
                                        @Html.TextBoxFor(m => m.dob, new { @class = "datepicker-here form-control", @data_language = "en", tabindex = 3, @readonly = "readonly", @placeholder = "dd/mm/yyyy" })
                                        @Html.ValidationMessageFor(m => m.dob, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.dob)
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Address <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", @placeholder = "Address", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>State <span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.stateId, (IEnumerable<SelectListItem>)ViewBag.State, "--Select--", new { @class = "form-control", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.stateId, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.stateId)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>District <span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.districtId, (IEnumerable<SelectListItem>)ViewBag.District, "--Select--", new { @class = "form-control", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.districtId, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.districtId)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Pin code </label>
                                        @Html.TextBoxFor(m => m.pinCode, new { @class = "form-control", @placeholder = "Pincode", tabindex = "1", @maxlength = 6, @onkeypress = "return isNumberKey(event);" })
                                        @Html.ValidationMessageFor(m => m.pinCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <h4>Immunization Detail of Children</h4>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Immunization Name <span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.immuName, (IEnumerable<SelectListItem>)ViewBag.ImmunizationType, "--Select--", new { @class = "form-control", tabindex = "1" })
                                        @Html.ValidationMessageFor(m => m.immuName, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Immunization Date<span class="star">*</span></label>
                                        @Html.TextBoxFor(m => m.dateOfImmunization, "", new { @class = "datepicker-here form-control", @data_language = "en", @readonly="readonly" })
                                        @Html.ValidationMessageFor(m => m.dateOfImmunization, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                       
                                        <button id="btnadd" type="button" class="btn btn-info btn-md pull-right">Add Immunization</button>
                                    </div>
                                </div>

                            </div>
                            <span id="spanmember" style="display: none" class="text-danger">Immunization Name and Date are required for Immunization Details</span>
                            <div class="table-responsive">
                                <table class="table table-bordered css-serial tbViewImmun" style="display: none">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="text-center">S.No.</th>
                                            <th width="20%">Immunization Name<span class="text-danger">*</span></th>
                                            <th width="20%" style="display: none">Immunization ID</th>
                                            <th width="20%">Immunization Date<span class="text-danger">*</span></th>
                                            <th width="20%">Delete</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
             



                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <h4>Immunization Book/Immunization Card</h4>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group3">
                                        <label>Upload Front Side Scan Copy Of Immunization Book/Card<span class="star">*</span></label>
                                        <div class="fileUpload3">
                                            <span>Upload </span>
                                            @Html.TextBoxFor(m => m.immunizationBook, new { @type = "file", @class = "upload3", @onchange = "Fileupload(this)" })
                                            @Html.HiddenFor(m => m.immunizationBookpath)
                                        </div>
                                        @Html.ValidationMessageFor(m => m.immunizationBook, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group padding-top-40" id="immunizationBookVALUE" style="display: none;">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.immunizationBookpath))
                                        {
                                            <a href="@Url.Content(Model.immunizationBookpath)" id="immunizationBookdoc" target="_blank"  title="Download"><i class="fa fa-2x fa-download"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" id="immunizationBookdoc" target="_blank" title="Download"><i class="fa fa-2x fa-download"></i></a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group3">
                                        <label>Upload Back Side Scan Copy Of Immunization Book<span class="star">*</span></label>
                                        <div class="fileUpload3">
                                            <span>Upload </span>
                                            @Html.TextBoxFor(m => m.immunizationBackSideBook, new { @type = "file", @class = "upload3", @onchange = "Fileupload(this)" })
                                            @Html.HiddenFor(m => m.immunizationBackSideBookpath)
                                        </div>
                                        @Html.ValidationMessageFor(m => m.immunizationBackSideBook, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group padding-top-40" id="immunizationBackSideBookVALUE" style="display: none;">
                                        @if (Model != null && !string.IsNullOrEmpty(Model.immunizationBackSideBookpath))
                                        {
                                            <a href="@Url.Content(Model.immunizationBackSideBookpath)" id="immunizationBackSideBookdoc" target="_blank"  title="Download"><i class="fa fa-2x fa-download"></i></a>
                                        }
                                        else
                                        {
                                            <a href="#" id="immunizationBackSideBookdoc" target="_blank" title="Download"><i class="fa fa-2x fa-download"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <h4>Select Health Unit</h4>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <label>Health Unit <span class="text-danger">*</span></label>
                                    <div class="form-control">
                                        @foreach (var type in ViewBag.forwardTypes)
                                        {
                                            <label>
                                                <input type="radio" name="forwardtypeId" id="forwardtypeId" value="@type.forwardtypeId">
                                                @type.forwardtypeName
                                            </label>
                                        }
                                    </div>
                                    <label id="lbltype" class="text-danger" style="display: none;">Select Health Unit</label>
                                </div>
                                <div class="col-md-2">
                                    <label>District&nbsp;<span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.healthUnitDistrictId, (IEnumerable<SelectListItem>)ViewBag.DistrictCHCPCH, "--Select--", new { @class = "form-control", tabindex = "1" })
                                    @Html.ValidationMessageFor(m => m.healthUnitDistrictId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(m => m.healthUnitDistrictId)
                                </div>
                                <div class="col-md-2">
                                    <label>CHC/PHC/DH Name <span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.forwardtoId, (IEnumerable<SelectListItem>)ViewBag.forwardTo, "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.forwardtoId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="title elipsis">
                                <h4>Undertaking</h4>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>
                                            @Html.RadioButtonFor(m => m.isConfirm, true)
                                            I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief and I undertake to inform you of any changes therein, immediately. In case any of the above information is found to be false or untrue or misleading or misrepresenting, I am aware that I may be held liable for it.
                                            <label class="radio-inline"></label>
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.isConfirm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2 col-md-offset-4">
                                        <button type="button" id="btnSave" class="btn btn-block btn-primary">Preview</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-block btn-warning">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    
    <button id="btnShowPopup" type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" style="display: none;"></button>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Application Form for Immunization Children <strong>Certificate</strong></h4>
                </div>
                <div class="modal-body" style="max-height: 470px; overflow-y: auto;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    <h4>Preview Of Application Form for Immunization Certificate For Children</h4>
                                </div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Baby Of (Father Name)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanFatherName"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>BAby Of (Mother Name)</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanmotherName"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Child Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanName"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>DOB of Child</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanDOB"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>E-mail Of Parent</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanEmail"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Mobile Number Of Parent</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanMobileNumber"></span>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Address  </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanAddress"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>State </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanState"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>District</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanDistrict"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Pincode </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanPinCode"></span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    <h4>Immunization Detail Of Children </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="Vaccine" class="table table-bordered css-serial">
                                            <thead>
                                                <tr>
                                                    <th width="5%" class="text-center">S.No.</th>
                                                    <th width="22%" class="text-center">Immunization Name</th>
                                                    <th width="11%" class="text-center">Is Immunized?</th>
                                                    <th width="14%" class="text-center">Immunization Date</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbUser">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    <h4>Application Form for Immunization Certificate</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">

                                            <label>Scan Copy Of Front Side Immunization Certificate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" id="spanDocument" target="_blank"><i class="fa fa-download fa-2x"></i></a>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                            <label>Scan Copy Of Back Side Immunization Certificate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="#" id="spanBackSideDocument" target="_blank"><i class="fa fa-download fa-2x"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="panel-default">
                                <div class="panel-heading">
                                    <h4>Selected Health Unit</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Health Unit Type</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanType"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>District</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanHUDistrict"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>CHC/PHC/DH Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <span id="spanDC"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-4">
                                <button type="submit" class="btn btn-block btn-primary">Submit</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-block btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/sweetalert.min.js"></script>
<script>

    $(document).ready(function () {
        debugger;
        $(window).load(function () {
            // bindImmunization();
        })
        if ('@ViewBag.msg' != '' && '@ViewBag.MsgStatus' != '') {
            swal("", '@ViewBag.msg', '@ViewBag.MsgStatus');
        }
        if ('@TempData["msg"]' != '' && '@TempData["msgstatus"]' != '') {
            swal("", '@TempData["msg"]', '@TempData["msgstatus"]');
        }

        $("#btnSave").click(function () {
            debugger;
            var isShowPopup = true;
            var val = $("#frmImmunizationChildrenCertificate").validate();
            val.form();
            val.showErrors();

            $("#spanmember").hide();

            if (!val.valid()) {
                swal("", "Some mandatory fields are Empty, Kindly check Application Form and fill the required Data.", "warning");
                isShowPopup = false;
                if ($('input[name=forwardtypeId]:checked').length == 0) {
                    $("#lbltype").show();
                }
            }
            if (ARY == "")
            {   
                $("#spanmember").show();
                isShowPopup = false;
                return false;
            }
           
            if (isShowPopup) {

                $('#spanFatherName').text($('#fatherName').val());
                $('#spanmotherName').text($('#motherName').val());


                $("#spanName").text(($("#fullName").val() == '') ? 'NaN' : ($("#fullName").val()));
                $("#spanEmail").text(($("#emailId").val() == '') ? 'NaN' : ($("#emailId").val()));

                $('#spanMobileNumber').text($('#mobileNo').val());
                $('#spanDOB').text($('#dob').val());
                $('#spanAddress').text($('#address').val());
                $('#spanState').text($('#stateId option:selected').text());
                $('#spanDistrict').text($('#districtId option:selected').text());
                $("#spanPinCode").text(($("#pinCode").val() == '') ? 'NaN' : ($("#pinCode").val()));


                $("#spanAddress").text($("#address").val());
                $("#spanState").text($("#stateId option:selected").text());
                $("#spanDistrict").text($("#districtId option:selected").text());
                $("#spanPincode").text($("#pinCode").val());


                var path = $('#immunizationBookpath').val().split('/');
                var url1 = '@Url.Content("~/Content/writereaddata/ICC/")' + path[path.length - 1];
                $('#spanDocument').removeAttr('href');
                $('#spanDocument').attr('href', url1);

                var path = $('#immunizationBackSideBookpath').val().split('/');
                var urlBS = '@Url.Content("~/Content/writereaddata/ICC/")' + path[path.length - 1];
                $('#spanBackSideDocument').removeAttr('href');
                $('#spanBackSideDocument').attr('href', urlBS);

                var count = 1;

                $("#tbUser").html('');
                $(".tbViewImmun tr:gt(0)").each(function (index, obj) {
                    var currRow = $(this);
                  
                    var _Immun = currRow.find('td:eq(1)').text();
                    var _Certified = 'yes';
                    var _Date = currRow.find('td:eq(3)').find('input[name=adddateOfImmunization]').val();

                    if (_Date != '') {

                        var newRow = '<tr><td>' + (count) + '</td><td align="center">' + _Immun + '</td><td align="center">' + _Certified + '</td><td align="center">' + _Date + '</td></tr>';
                        count++;
                        $("#tbUser").append(newRow);
                    }
                });

                $('#spanType').text($('input[name=forwardtypeId]:checked').parent().text());
                $("#spanHUDistrict").text($("#healthUnitDistrictId option:selected").text());
                $("#spanDC").text($("#forwardtoId option:selected").text());

                $('#btnShowPopup').click();
                setTimeout(function () {
                    $('.modal-body').scrollTop(0);
                }, 300);
            }
        });

    });

    $("#btnadd").click(function () {
        debugger;
        AddRow();
    });
    var rowCount = $("#tbViewImmun td").closest("tr").length;
    var ARY = [];
    function AddRow() {
        debugger;
        var immunId = $('#immuName option:selected').val();
        var immuName = $('#immuName option:selected').text();
        var date = $('#dateOfImmunization').val();
        
       
            var key = 'Not exist';
            for (var i = 0; i < ARY.length; i++) {
                var ar = ARY[i];
               
                if (ar == immunId) {
                    key = 'Exist';
                }
                else {
                   
                }
            }
            ARY.push(immunId);
        

            if (immunId == "") {
                swal("", "Immunization Name is Required", "warning");
                return false;
            }
            if (date == "") {
                console.log(ARY)
                var index = ARY.indexOf(immunId);
               // for (var i = 0; i < ARY.length; i++) {
                    var index = ARY.indexOf(immunId);
                    if (index > -1) {
                        ARY.splice(index, 1);
                    }
                //}
                swal("", "Immunization Date is Required", "warning");
                return false;
            }
        else if (key == 'Exist')
        {
            swal("", "Immunization Name already exsists", "warning");
            return false;
        }
        else {

            //var markup = "<tr><td align='center'></td><td><input type='text' readonly='readonly' value=" + immuName + " name='addimmuName' id='immuName'></td><td style='display:none'><input type='text' value=" + immunId + " name='addimmunId' id='immunId' class ='form-control'  style ='height:45px'></td><td><input type='text' name='adddateOfImmunization' readonly='readonly' value=" + date + " id='adddateOfImmunization' class ='form-control'  style ='height:45px'></td><td align='center'><div class='padding-top-10'><button id='btndel' onclick='DeleteRow(this);' type='button' ><i class='fa fa-trash fa-2x text-warning'></i></button></div></td></tr>";
            var markup = "<tr><td align='center'></td><td><label name='addimmuName' id='immuName'>" + immuName + "</label></td><td style='display:none'><input type='text' value=" + immunId + " name='addimmunId' id='immunId' class ='form-control'  style ='height:45px'></td><td><label name='adddateOfImmunization' id='adddateOfImmunization'>" + date + "</label><input type='hidden' name='adddateOfImmunization' value=" + date + " ></td><td align='center'><div class='padding-top-10'><button id='btndel' onclick='DeleteRow(this);' type='button' ><i class='fa fa-trash fa-2x text-warning'></i></button></div></td></tr>";
            $(".tbViewImmun tbody").append(markup);
            rowCount++;
            $('#dateOfImmunization').val(''); $("#immuName")[0].selectedIndex = 0;
            $('.tbViewImmun').show();
            $("#spanmember").hide();
           
        }
    }
    //function DeleteRow(obj) {
    //    debugger;
     
    //        var immunId = $(obj).parent().parent().parent().find('input[name="addimmunId"]').val();
          
           
    //        console.log(ARY)
    //        var index = ARY.indexOf(immunId);
    //        for (var i = 0; i < ARY.length; i++) {
    //            var index = ARY.indexOf(immunId);
    //            if (index > -1) {
    //                ARY.splice(index, 1);
    //            }
    //        }
         
    //        console.log(ARY);

    //        $(obj).closest('tr').remove();
    //        rowCount--;
        
    //}
    function DeleteRow(obj) {
        debugger;

        var immunId = $(obj).parent().parent().parent().find('input[name="addimmunId"]').val();
        swal({
            title: "Are you sure?",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, Delete it !",
            cancelButtonText: "No, Cancel it !",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                console.log(ARY)
                var index = ARY.indexOf(immunId);
                for (var i = 0; i < ARY.length; i++) {
                    var index = ARY.indexOf(immunId);
                    if (index > -1) {
                        ARY.splice(index, 1);
                    }
                }

                console.log(ARY);

                $(obj).closest('tr').remove();
                rowCount--;
            }
        });

    }
    var strDate = @DateTime.Now.Year + "/" + @DateTime.Now.Month + "/" + @DateTime.Now.Day + "";

    $('#dob').datepicker({
        maxDate: new Date(strDate),
        autoClose: true
    });
    $("#btnaddImmu").click(function () {

        AddRowOwner();
    });
    $("#stateId").change(function () {
        debugger;
        bindDistDropdown($(this).val());
    })
    function bindDistDropdown(stateId) {

        debugger;
        $.ajax({
            url: '@Url.Action("BindDistrictlist", "ICC")',
            data: { stateId: stateId },
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (data) {
                $("#districtId").empty();
                $("#districtId").append('<option value="">--Select--</option>');
                $.each(data, function (id, result) {
                    $("#districtId").append('<option value="' + result.Value + '">' + result.Text + '</option>');
                })
            },
            error: function (xhr, status) {

            }
        });
    }
    function bindImmunization() {

        var img = "<img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:40%; margin-top:25px' />";
        $('#Div_Data').html(img);

        $.ajax({

            url: '@Url.Action("bindImmunization", "ICC")',
            data: {},
            type: 'GET',
            dataType: 'HTML'

        }).success(function (returndata) {

            $('#Div_Data').html(returndata);
        }).error(function (xhr, status) {
            $('#Div_Data').html('');

        })

    }
    function Fileupload(Obj) {
        var ext = Obj.value.match(/\.(.+)$/)[1];
        var Id = $(Obj).attr("Id");
        switch (ext) {
            case 'pdf':
            case 'jpg':
                var fileSize = ($("#" + Id)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "Maximum 2MB file size are allowed", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + Id).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $.ajax({
                        url: '@Url.Action("UploadFile", "ICC")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $("#" + Id + "path").val(response[1]);

                            $("#" + Id + "VALUE").show();
                            var Url = response[1].replace('~/', '');
                            $("#" + Id + "doc").prop('href', '@Url.Content("~/")' + Url + '?' + new Date().getTime().toString());

                            return false;
                        },
                        error: function () {

                        }
                    });

                }
                break;
            default:
                swal("", 'Invalid File Format only pdf and jpg files are allow!', "warning");
                this.value = '';
                return false;
        }
    }


    function ShowHideTxt(obj) {

        debugger;
        if ($(obj).context.checked) {
            $(obj).parent().parent().find('input[type="text"]').removeAttr('disabled')
            var txtVaue = $(obj).attr('id').split('_')[1];

            $(obj).val(txtVaue);
        }
        else {
            $(obj).parent().parent().find('input[type="text"]').attr("disabled", "disabled");
            $(obj).val(0);
        }

    }
    function isNumberKey(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function isalphabet(evt) {
        debugger;
        var charCode = (evt.which) ? evt.which : event.keyCode

        if (!(charCode >= 65 && charCode <= 120) && (charCode != 32 && charCode != 0))
            return false;
        return true;
    }

    $("#healthUnitDistrictId").change(function () {
        binddropdown($("input[name=forwardtypeId]:checked").val(), $(this).val());
    });

    $("input[name=forwardtypeId]").change(function () {
        $("#lbltype").hide();
        binddropdown($(this).val(), $("#healthUnitDistrictId").val());
    });

    function binddropdown(Id, distId) {

        $.ajax({
            url: '@Url.Action("BindForwardDropdownlist", "ICC")',
            data: { rollId: Id, opdDistrictId: distId },
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (data) {
                $("#forwardtoId").empty();
                $("#forwardtoId").append('<option value="">--Select--</option>');
                $.each(data, function (id, result) {
                    $("#forwardtoId").append('<option value="' + result.Value + '">' + result.Text + '</option>');
                })
            },
            error: function (xhr, status) {
                //alert(status);
                $("#forwardtoId").empty();
                $("#forwardtoId").append('<option value="">--Select--</option>');
            }
        });
    }
</script>
