@model List<CCSHealthFamilyWelfareDept.Models.NUHPartnerModel>

<style>
    .webgrid-header a {
            color: white;
            text-decoration: none;
        }
</style>
<h3 style="margin: 10px 0px 10px 0px; font-size: 16px; font-weight: bold; padding: 10px 0px;"><span style="margin: 0px 15px 0px 0px; padding: 0px;"></span>Partner's Details</h3>
        
        @if (Model != null && Model.Count() > 0)
        {
            WebGrid grid = new WebGrid(Model, canPage: true, canSort: true, ajaxUpdateContainerId: "divDataList");
             
            <div id="divDataList">
                @grid.GetHtml(htmlAttributes: new {  id = "result" },tableStyle: "table-user-information table table-bordered table-striped",
            headerStyle: "webgrid-header",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
            grid.Column(header: "S No.", style: "white", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("ownerName", header: " Name"),
            grid.Column("ownerAge", header: "Age"),
            grid.Column("ownerFatherName", header: "Father Name"),
            grid.Column("ownerMobileNo", header: "Mobile No"),
            grid.Column("ownerEmailId", header: "Email Id"),
            grid.Column("ownerAddress", header: "Address"),
            grid.Column("StateName", header: "State"),
            grid.Column("DistrictName", header: "District"),
            grid.Column("ownerPincode", header: "Pin Code"),
            grid.Column(header: "Photo",format:
            @<text>
                @if(!string.IsNullOrEmpty(item.ownerPhotograph))
                {
                <a href="@Url.Content(@item.ownerPhotograph)" target="_blank"><i class='fa fa-download' aria-hidden='true'></i></a>
                }
                </text>),
                 grid.Column(header: "Signature",format:
            @<text>
                @if (!string.IsNullOrEmpty(item.ownerSignature))
                {
                <a href="@Url.Content(@item.ownerSignature)" target="_blank"><i class='fa fa-download' aria-hidden='true'></i></a>
                }
                </text>)
            ))
            </div>
        }
    