@model CCSHealthFamilyWelfareDept.Models.PasswordChangeModel
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-title">
    <h3 class="main-title">Welcome To <strong>@Model.UserName</strong></h3>
</div>

<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Change Password</h4>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="col-lg-6 col-sm-12">
                        @using (Html.BeginForm("UpdatePassword", "AdminAccount", FormMethod.Post, new { @id = "FrmChangePassword" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Old Password<span style="color: red;">*</span></label>
                                        @Html.PasswordFor(m => m.oldPassword, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.oldPassword)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label>New Password<span style="color: red;">*</span></label>
                                        @Html.PasswordFor(m => m.newPassword, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.newPassword)
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label>Confirm Password<span style="color: red;">*</span></label>
                                        @Html.PasswordFor(m => m.confirmPassword, new { @class = "form-control", autocomplete = "off" })
                                        @Html.ValidationMessageFor(m => m.confirmPassword)
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.seed)
                                        @Html.HiddenFor(m => m.UserName)
                                        <button type="submit" class="btn btn-block btn-primary">Change</button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <a href='@Url.Action("UpdatePassword", "AdminAccount")' class="btn btn-block btn-danger">Reset</a>
                                    </div>
                                </div>
                            </div> 
                        }
                       
                    </div>
                    <div class="col-md-6">
                        <br />
                        <div class="alert alert-warning">
                            <strong class="text-danger">Important Instruction !</strong><hr />
                            <ol>
                                <li>Password must contains at-least <strong>1 lower case letter, 1 upper case letter, 1 digit and 1 special character</strong> and must <strong>not be less than 8 characters </strong>and <strong>more than 16 characters!</strong></li>
                                <li>Current Session will be ended if you change your Password and you will be logout.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">

    $(function () {
        if ('@ViewBag.msg' != '') {
            $('.field-validation-error').hide();
            swal("", "@ViewBag.msg", "@ViewBag.MsgStatus");
        }
    });

    $(function () {
        $("#FrmChangePassword").submit(function (event) {

            var val = $("#FrmChangePassword").validate();
            val.form();
            val.showErrors();

            if (val.valid()) {
                var seed = $("#seed").val();
                var oldpassword = $("#oldPassword").val();
                var newpassword = $("#newPassword").val();
                var confpassword = $("#confirmPassword").val();

                var hasholdPwd = MD5(oldpassword);
                var HasNewPwd = MD5(newpassword);
                var hasCnfPwd = MD5(confpassword);

                hasholdPwd = MD5(hasholdPwd.toUpperCase() + seed);
                $("#oldPassword").val(hasholdPwd);
                $("#newPassword").val(HasNewPwd);
                $("#confirmPassword").val(hasCnfPwd);
            }
            else {
                event.preventDefault();
            }

        });
    });

</script>
