@{
    ViewBag.Title = "ApprovedApplicationDIC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-title">
    <h3 class="main-title">
        <div class="col-md-12 text-left">विकलांगता प्रमाणपत्र का स्वीकृत आवेदन<span class="small display-block">Approved Application of Issuance of Disability Certificate</span></div>
    </h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Filter Criteria</h4>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Application No</label>
                                <input type="text" id="txtAppNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input name="text" id="txtMobile" maxlength="10" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Application Date</label>
                                <input type="text" id="txtRequestdate" placeholder="Date" class="form-control datepicker-here" data-language="en" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="button" id="btnSearch" class="btn btn-block btn-success">Search</button>
                        </div>
                        <div class="col-md-2">
                            <label>&nbsp;</label>
                            <button type="button" id="btnRefresh" class="btn btn-block btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">

                <div id="DIV-ApplicationList">
                    @Html.Action("ApprovedApplicationListDIC", "CMO")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        if ('@TempData["SuccessMsg"]' != '') {
            swal("", "@TempData["SuccessMsg"]", "success");
        }
        if ('@TempData["Message"]' != '') {
            swal("", "@TempData["Message"]", "success");
         }
        $("#btnSearch").click(function () {
            bindApplicationList($("#txtAppNumber").val(), $("#txtMobile").val(), $("#txtRequestdate").val());
        });

        $("#btnRefresh").click(function () {
            $("#txtAppNumber").val('');
            $("#txtMobile").val('');
            $("#txtRequestdate").val('');
            bindApplicationList('', '');
        });

    });
    function bindApplicationList(_registrationNo, _mobileno, _requestdate) {
        var img = "<img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:40%; margin-top:25px' />";
        $('#DIV-ApplicationList').html(img);

        $.ajax({
            url: '@Url.Action("ApprovedApplicationListDIC", "CMO")',
            data: { registrationNo: _registrationNo, mobile: _mobileno, requestDate: _requestdate },
            type: 'GET',
            dataType: 'HTML'
        })
        .success(function (returndata) {
            $('#DIV-ApplicationList').html(returndata);
        })
        .error(function (xhr, status) {
            $('#DIV-ApplicationList').html('');
            swal("", 'Details Not Found !', "warning");
        });
    }

</script>

