@model CCSHealthFamilyWelfareDept.Models.CancleNUHregistration
@{
    ViewBag.Title = "CancleRegistationNUH";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="divLoader" style="display: none;">
    <img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:42%; margin-top:20%' />
</div>

<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Upload Certificate</h4>
                    </span>
                </div>
                @using (Html.BeginForm("CancleRegistationNUH", "CMO", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()      
                    @Html.HiddenFor(m => m.hdnNUHId)
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cancel Reason</label>
                                    <br />
                                    @*<textarea id="cancletxt" name="cancle" rows="4" cols="43"></textarea>*@
                                    @Html.TextAreaFor(m => m.Resion, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Resion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Upload  File</label>
                                    <input type="file" id="fileUploadCertificate" name="fileUploadCertificate" class="upload3" onchange="Fileupload(this)" />
                                    @*<input type="hidden" name="hdnfileUploadCertificate" id="hdnfileUploadCertificate" />*@
                                    @Html.HiddenFor(m => m.FilePath, new { id = "hdnfileUploadCertificate" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                    <label>&nbsp;</label>
                                    <input type="reset" id="btnRefresh" class="btn btn-danger" value="Reset" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        if ('@TempData["msg"]' != '' && '@TempData["msgstatus"]' != '') {
            swal("", '@TempData["msg"]', '@TempData["msgstatus"]');
            $("#Resion").val("");
            $("#fileUploadCertificate").val("");
            $("#FilePath").val("");
        }
    });
    
    $("#btnRefresh").click(function () {
        $("#Resion").val("");
        $("#fileUploadCertificate").val("");
        $("#FilePath").val("");
    });

    function Fileupload(obj) {
        debugger;
        var fileId = $(obj).attr("id");
        var ext = obj.value.match(/\.(.+)$/)[1];

        switch (ext) {
            case 'pdf':
            case 'jpg':

                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "Maximum 2MB file size are allowed", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $('#divLoader').show();
                    $.ajax({
                        url: '@Url.Action("CancleUploadCertificateFileNUH", "CMO")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            $('#divLoader').hide();
                            if (response[1] == 'SNV') {
                                swal("", 'Maximum 2 MB file size are allowed !', "warning");
                            }
                            else if (response[1] == 'TNV') {
                                swal("", 'Only pdf and jpg files are allowed !', "warning");
                            }
                            else {
                                $("#hdnfileUploadCertificate").val(response[1]);

                            }
                            return false;
                        },
                        error: function () {
                            $('#divLoader').hide();
                        }
                    });

                }
                break;
            default:
                swal("", 'This is not an allowed file type only pdf and jpg  file valid for this', "warning");
                this.value = '';
                return false;
        }

    }


</script>
