@model CCSHealthFamilyWelfareDept.Models.AGCAppProcessModel

@{
    ViewBag.Title = "UpdateAppProcessAGC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-title">
    <h3 class="main-title">
        @if (Model.appStatus <= 1)
        {
            <div class="col-md-12 text-left">आयु प्रमाणपत्र के निर्गमन का कुल लंबित आवेदन<span class="small display-block">Total Pending Application of  Issuance of Age Certificate</span></div>
        }
        else
        {
            <div class="col-md-12 text-left">आयु प्रमाणपत्र के निर्गमन का प्रक्रिया आवेदन<span class="small display-block">In-Process Application Request for the Issuance of Age Certificate</span></div>
        }
    </h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12 lessdetail">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Age Application Details</h4>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td style="width: 15%"><strong>Application No.</strong></td>
                                <td style="width: 15%">@Model.registrationNo</td>
                                <td style="width: 15%"><strong>Application Date</strong></td>
                                <td style="width: 15%">@Model.applicationDate</td>
                                <td style="width: 8%"><strong>Full Name</strong></td>
                                <td style="width: 20%">@Model.fullName</td>
                            </tr>
                            <tr>
                                <td><strong>Mobile</strong></td>
                                <td>@Model.mobileNo</td>
                                <td><strong>Status</strong></td>
                                <td colspan="3">@Model.appliedStatus</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("UpdateAppProcessAGC", "CMO", FormMethod.Post, new { @id = "frmUpdateAppProcessAGC" }))
        {
            @Html.AntiForgeryToken()
            if (Model.appStatus == -1)
            {           
            <div class="col-md-12 scruapp">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="current"><a href="javascript:;" class="none">Step 1</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 2</a></li>
                    </ul>
                </div>
            </div>                            
            <div class="col-md-12 scruapp">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Scrutinize Application</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="margin-top-10 bold">View the Application form</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input type="button" value="View Application" id="btnviewapp" class="btn btn-block btn-info none" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
            <div class="clearfix"></div>
            <div class="acprejapp col-md-12" style="display: none;">
                <div class="row">
                    @Html.Action("AgeCertificateDetailAGC", "CMO", new { registration = Model.registrationNo })
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="panel panel-default btnsubreg" style="display: none;">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-4">
                                            <input type="button" id="btnAccept" onclick="return acceptApp();" value="Accept" class="btn btn-block btn-primary none" />
                                            <button id="bitAppAccept" name="button" type="submit" value="btnAccept" style="display: none;" class="btn btn-block btn-primary btnAccept">Accept</button>

                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" value="Reject" id="btnReject" class="btn btn-block btn-danger reject-rsn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default appStatushdn" style="display: none;">
                                <div class="panel-heading">
                                    <span class="title elipsis">
                                        <h4>Reject</h4>
                                    </span>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <label><b>Remarks <span class="text-danger">*</span></b> </label>
                                            @Html.TextAreaFor(m => m.rejectedRemarks, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.rejectedRemarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <input type="submit" value="Reject" id="btnCnfrmReject" class="btn btn-danger btn-md" />
                                    &nbsp;&nbsp;&nbsp;
                                    <button id="btnAppRejectCancel" type="button" class="btn btn-primary reject-rsn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>                        
            }
            if (Model.appStatus == 1)
            {
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="completed"><a href="javascript:;" class="none">Step 1</a></li>
                        <li class="current"><a href="javascript:;" class="none">Step 2</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Schedule  Date for Physical Appearance</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            @*<div class="col-md-4">
                                <div class="form-group">
                                    <label>Select Committee&nbsp;<span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.committeeId, (IEnumerable<SelectListItem>)ViewBag.DLLCommittee, "--Select--", new { @class = "form-control", onchange = "getshceduleList();" })
                                    @Html.ValidationMessageFor(m => m.committeeId, "", new { @class = "text-danger" })
                                    <br />
                                    <span id="spanCommittee" style="display: none" class="text-danger">Please select Committee</span>
                                </div>
                            </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Schedule Physical Appearance Date&nbsp;<span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(m => m.inspectionDate, new { @class = "datepicker-here form-control", tabindex = "2", @data_language = "en", @readonly = "true", @placeholder = "dd/mm/yyyy", onblur = "getshceduleList();" })
                                    @Html.ValidationMessageFor(m => m.inspectionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" id="btninspectionsch" value="Proceed" class="btn btn-primary btn-md" />
                    </div>
                </div>
            </div>                            
            <div id="divScheduleOfCommittee" class="col-md-12" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4 id="hScheComm"></h4>
                        </span>
                    </div>
                    <div id="divScheduledInspection" class="panel-body">
                    </div>
                </div>
            </div> 
            }
            if (Model.appStatus == 2)
            {
                if (ViewBag.validRequest != null && ViewBag.validRequest == true)
                { 
                    
                    
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="current"><a href="javascript:;" class="none">Step 3</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 4</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 5</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 6</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Take Decision Further Insvestigation</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="bold">Would you like to forward to request for further insvestigation?</label>
                            <div class="form-control">
                                <label class="radio-inline">
                                    <input class="disposal2" name="rblDisbilityPer" value="1" type="radio">
                                    Yes
                                </label>
                                <label class="radio-inline">
                                    <input class="disposal2" name="rblDisbilityPer" value="2" type="radio">
                                    No
                                </label>
                            </div>
                        </div>
                        <span id="spanDisbilityPer" style="display: none" class="text-danger">Please choose</span>
                    </div>
                    <div class="divSure" style="display: none">
                        <div class="panel-body" style="padding-top: 0;">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bold">x-Ray Plate Number&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.xRayPlateNo, "{0:#.#}", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.xRayPlateNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bold">x-Ray Date&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.xRayDate, new { @class = "datepicker-here form-control", tabindex = "2", @data_language = "en", @readonly = "true", @placeholder = "dd/mm/yyyy" })
                                        @Html.ValidationMessageFor(m => m.xRayDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bold">Dental Plate Number&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.dentalPlateNo, "{0:#.#}", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.dentalPlateNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bold">Mark Of Identification&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.markOfIdentification, "{0:#.#}", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.markOfIdentification, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bold">Enter Estimated Biological Age&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.Age, "{0:#.#}", new { @class = "form-control", @placeholder = "ex.- 18-20" })
                                        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="bold">Upload Citizen's Inspection Report&nbsp;<span class="text-danger">*</span></label>
                                    <div class="form-group" style="margin-bottom: 5px;">
                                        <div class="fileUpload3 pull-left" style="width: 80%;">
                                            <span><i class="fa fa-upload fa-lg" aria-hidden="true"></i>&nbsp;Upload Report </span>
                                            @Html.TextBoxFor(m => m.inspectionRpt, new { @type = "file", @class = "upload3", @onchange = "UploadFile(this)" })
                                            @Html.HiddenFor(m => m.inspectionRptPath)
                                        </div>
                                        <div class="form-group padding-top-10 pull-right" id="hdndoc" style="display: none;">
                                            @if (!string.IsNullOrEmpty(Model.inspectionRptPath))
                                            {
                                                <a href="@Url.Content(Model.inspectionRptPath)" id="UploadedDoc" target="_blank"  title="Download"><i class="fa fa-2x fa-download"></i></a>
                                            }
                                            else
                                            {
                                                <a href="#" id="UploadedDoc" target="_blank" title="Download"><i class="fa fa-2x fa-download"></i></a>
                                            }
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.inspectionRpt, "", new { @class = "text-danger" })
                                </div>
                                <div class="clearfix"></div>
                                @*  <div class="col-md-12">
                                    <label class="bold">Add Committee Members :</label>
                                    <div class="form-group">
                                       <table class="table table-bordered css-serial tbmember">
                                           <thead>
                                               <tr>
                                               <th>S.no</th>
                                               <th>Name Of Doctor</th>
                                               <th>Designation</th>
                                               <th>Department</th>
                                               <th>Delete</th>
                                                   </tr>
                                           </thead>
                                           <tbody>
                                               <tr>
                                                   <td></td>
                                                   <td><input type="text" name="doctorName" /></td>
                                                   <td><input type="text" name="doctorDesignation" /></td>
                                                   <td><input type="text" name="doctorDepartment" /></td>
                                                   <td align="center">
                                            <div class="padding-top-10">
                                                <button id="btndel" onclick="DeleteRow(this);" type="button"><i class="fa fa-trash fa-2x text-warning"></i></button>
                                            </div>
                                        </td>

                                               </tr>
                                           </tbody>
                                       </table>
                                       <button id="btnadd" type="button" class="btn btn-info btn-md pull-right">Add More</button>
                                        <span id="spanmember1" style="display: none" class="text-danger">Please complete Committe Member Details</span>
                                    </div>
                                </div>*@
                                <div class="col-md-12">
                                    <label class="bold">Select Committee Members :&nbsp;<span class="text-danger">*</span></label>
                                    <div class="form-group">
                                        <div class="form-control" style="height: auto;">
                                            @foreach (var chk in ViewBag.designation)
                                            {
                                                <label class="margin-right-10">
                                                    <input type="checkbox"  value="@chk.Id" name="chkdesig" id="chdesig"/>
                                                    @chk.Name
                                                </label>
                                                
                                            }
                                        </div>
                                        <span id="spanmember1" style="display: none" class="text-danger">Please select Committe Member</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <input type="submit" id="btnupldinsrpt1" value="Next" class="btn btn-primary btncomnext" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" id="btnext" value="Next" class="btn btn-primary btn-block btncomnext" style="display: none" />
            </div>
            <div class="col-md-12 divNotSure" style="display: none">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Application for further test</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <label><strong>Select Health Unit Type&nbsp;<span class="text-danger">*</span></strong></label>
                                <div class="form-group">
                                    <div class="form-control" style="height: auto;">
                                        @foreach (var type in ViewBag.forwardTypes)
                                        {
                                            <label class="margin-right-10">
                                                <input type="radio" name="forwardtype" id="forwardtype" value="@type.forwardtypeId">
                                                @type.forwardtypeName
                                            </label>                                            
                                        }
                                    </div>
                                    <span id="spanForwardType" style="display: none" class="text-danger">Select Forward Type</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bold">Select Name&nbsp;<span class="text-danger">*</span></label>
                                    @Html.DropDownListFor(m => m.forwardedTo, (IEnumerable<SelectListItem>)ViewBag.forwardTo, "--Select--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.forwardedTo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bold">Next Inspection Date&nbsp;<span class="text-danger">*</span></label>
                                    @Html.TextBoxFor(m => m.inspectionDate, new { @class = "datepicker-here form-control", @data_language = "en", @readonly = "true", @placeholder = "dd/mm/yyyy" })
                                    @Html.ValidationMessageFor(m => m.inspectionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.forwardedType)
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" value="Next" class="btn btn-primary btnfrwd" />
                    </div>
                </div>
            </div>                          
           
        
           
                }
                else
                {
            <div class="col-md-12">
                <div class="panel-body process">
                    <label>Kindly add committee members using 'User Managment' tab on your Dashboard. After forming the committee, you can proceed the Application.</label>

                </div>
            </div>
                }
            }
            if (Model.appStatus == 3)
            {
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="completed"><a href="javascript:;" class="none">Step 3</a></li>
                        <li class="current"><a href="javascript:;" class="none">Step 4</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 5</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 6</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Upload Inspection Report</h4>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">x-Ray Plate Number&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.xRayPlateNo, "{0:#.#}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.xRayPlateNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">x-Ray Date&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.xRayDate, new { @class = "datepicker-here form-control", tabindex = "2", @data_language = "en", @readonly = "true", @placeholder = "dd/mm/yyyy" })
                                @Html.ValidationMessageFor(m => m.xRayDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">Dental Plate Number&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.dentalPlateNo, "{0:#.#}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.dentalPlateNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">Mark Of Identification&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.markOfIdentification, "{0:#.#}", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.markOfIdentification, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">Enter Estimated Biological Age&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(m => m.Age, "{0:#.#}", new { @class = "form-control", @placeholder = "ex.- 18-20" })
                                @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="bold">Upload Citizen's Inspection Report&nbsp;<span class="text-danger">*</span></label>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <div class="fileUpload3 pull-left" style="width: 80%;">
                                    <span><i class="fa fa-upload fa-lg" aria-hidden="true"></i>&nbsp;Upload Report </span>
                                    @Html.TextBoxFor(m => m.inspectionRpt, new { @type = "file", @class = "upload3", @onchange = "UploadFile(this)" })
                                    @Html.HiddenFor(m => m.inspectionRptPath)
                                </div>
                                <div class="form-group padding-top-10 pull-right" id="hdndoc" style="display: none;">
                                    @if (!string.IsNullOrEmpty(Model.inspectionRptPath))
                                    {
                                        <a href="@Url.Content(Model.inspectionRptPath)" id="UploadedDoc" target="_blank"  title="Download"><i class="fa fa-2x fa-download"></i></a>
                                    }
                                    else
                                    {
                                        <a href="#" id="UploadedDoc" target="_blank" title="Download"><i class="fa fa-2x fa-download"></i></a>
                                    }
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.inspectionRpt, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <label class="bold">Committee Members :&nbsp;<span class="text-danger">*</span></label>
                            <div class="form-group">
                                <div class="form-control" style="height: auto;">
                                    @foreach (var chk in ViewBag.designation)
                                    {
                                        <label class="margin-right-10">
                                            <input type="checkbox"  value="@chk.Id" name="chkdesig" id="chdesig"/>
                                            @chk.Name</label>                                           
                                    }
                                </div>
                                <span id="spanmember" style="display: none" class="text-danger">Please select Committee Member</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="bold">Upload Inspection Site Photo</label>
                            <div class="form-group">
                                <div class="fileUpload3 pull-left" style="width: 80%;">
                                    <span><i class="fa fa-upload fa-lg" aria-hidden="true"></i>&nbsp;Upload Inspection Photo</span>
                                    @Html.TextBoxFor(m => m.inspReportFilePhoto, new { @class = "upload3", @type = "file", @onchange = "FileuploadMultiple(this);", @multiple = "multiple" })
                                </div>

                                @Html.HiddenFor(m => m.inspReportFilePhotoPath)
                            </div>
                            @Html.ValidationMessageFor(m => m.inspReportFilePhoto, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            <div id="photoupload" style="display: none"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <input type="submit" id="btnupldinsrpt" value="Next" class="btn btn-primary btncomnext" />
                </div>
            </div>
            }
            if (Model.appStatus == 4)
            {
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="completed"><a href="javascript:;" class="none">Step 3</a></li>
                        <li class="completed"><a href="javascript:;" class="none">Step 4</a></li>
                        <li class="current"><a href="javascript:;" class="none">Step 5</a></li>
                        <li class="active"><a href="javascript:;" class="none">Step 6</a></li>
                    </ul>
                </div>
            </div>            
            <div class="col-md-12 PosNegBtn">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Report</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bold">Is the report positive or negative ?</label>
                                    <div class="form-control">
                                        <label class="radio-inline">
                                            <input type="radio" class="disposal2" id="disposal" name="rbl_check" value="1">
                                            Positive
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="disposal2" id="disposalno" name="rbl_check" value="2">
                                            Negative
                                        </label>
                                    </div>
                                </div>
                                <span id="spanPositiveNegative" style="display: none" class="text-danger">Please select Positive or Negative</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="Submit" id="btnnext" value="NEXT" class="btn btn-primary none" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 appInsStatushdn" style="display: none;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title">
                            <h4>Reject</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="bold">Remarks</label>
                                    @Html.TextAreaFor(m => m.rejectedRemarks, new { @class = "form-control", @placeholder = "Enter Reason for Rejection" })
                                    @Html.ValidationMessageFor(m => m.rejectedRemarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <input type="submit" value="Reject" id="btnCnfrmInsRptReject" class="btn btn-danger reject-rsn" />
                    </div>
                </div>
            </div>
            }
            if (Model.appStatus == 6)
            {
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="completed"><a href="javascript:;" class="none">Step 3</a></li>
                        <li class="completed"><a href="javascript:;" class="none">Step 4</a></li>
                        <li class="completed"><a href="javascript:;" class="none">Step 5</a></li>
                        <li class="current"><a href="javascript:;" class="none">Step 6</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="margin-top-10 bold">Generate Certificate</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <input type="submit" id="btnGenrateCertificate" value="Generate Certificate" class="btn btn-block btn-info" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            }
            if (Model.appStatus == 7)
            {
            <div class="col-md-12">
                <div class="panel-body process">
                    <ul class="breadcrumb">
                        <li class="completed"><a href="javascript:;" class="none">Step 3</a></li>
                        <li class="completed"><a href="javascript:;" class="none">Step 4</a></li>
                        <li class="completed"><a href="javascript:;" class="none">Step 5</a></li>
                        <li class="current"><a href="javascript:;" class="none">Step 6</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="title elipsis">
                            <h4>Certificate Generated</h4>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <h2 class="margin-top-10 text-success"><strong>Certificate Generated</strong> </h2>
                                </div>
                            </div>
                            <a href="@Url.Action("GeneratedCertificateAGC", "CMO", new { regisIdAGC = @OTPL_Imp.CustomCryptography.Encrypt(Model.regisIdAGC.ToString()) })" target="_blank" id="anchorGenCerti" style="display:none;"></a>
                            @* @Html.Action("GeneratedCertificateAGC", "CMO", new { regisIdAGC = Model.regisIdAGC })*@
                        </div>
                    </div>
                </div>
            </div>
                                
            }
            <div class="text-center">
                @Html.HiddenFor(m => m.regisIdAGC)
                @Html.HiddenFor(m => m.appStatus)
                @Html.HiddenFor(m => m.registrationNo)
            </div>
        }

    </div>
</div>
<script>
    $(document).ready(function () {

        if ('@Model.appStatus' == '7') {
            var url = $('#anchorGenCerti').attr('href');
            window.open(url, '_blank');
        }
        else if ('@TempData["msg"]' != '' && '@TempData["msgstatus"]' != '') {
            swal("", "@TempData["msg"]", '@TempData["msgstatus"]');
        }
    });

var strDate = @DateTime.Now.Year + "/" + @DateTime.Now.Month + "/" + @DateTime.Now.Day + "";
    $('#inspectionDate').datepicker({
        minDate: new Date(strDate),
        autoClose: true
    });

    $("#btnReject").click(function () {
        $(".appStatushdn").show();
        $(".btnsubreg").hide();
    });

    $('#btnAppRejectCancel').click(function () {
        $(".appStatushdn").hide();
        $(".btnsubreg").show();
    });
    //$("#btnInsRptReject").click(function () {


    //    $(".appInsStatushdn").show();
    //    $(".btnCER").hide();
    //});
    $("#btnviewapp").click(function () {
        debugger;
        $(".acprejapp").show();
        $(".btnsubreg").show();
        $(".scruapp").hide();
        $(".lessdetail").hide();
    });
    $("#btnnext").click(function () {

        $(".CertOrReject").show();
        $(".divCER").show();
        //$(".PosNegBtn").hide();
        $(".appInsStatushdn").hide();


    });
    $("#btnInsRptReject").click(function () {

        $(".rsndefine").show();

    });




    $(".btncomnext").click(function () {

        var val = $("#frmUpdateAppProcessAGC").validate();
        val.form();
        val.showErrors();
        if (val.valid()) {

            if ($("input[type='checkbox']:checked").length == 0) {
                $("#spanmember").show();
                return false;
            }
            else {
                $("#spanmember").hide();
                return true;
            }

        }
        else {
            return false;

        }
    });
    function bindScheduleOfCommittee(_inspectionDate) {
        var img = "<img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:40%; margin-top:25px' />";
        $('#divScheduledInspection').html(img);

        $.ajax({
            url: '@Url.Action("BindScheduleOfCommitteeAGC", "CMO")',
            data: { inspectionDate: _inspectionDate },
            type: 'GET',
            dataType: 'HTML'
        })
        .success(function (returndata) {
            if (returndata == "NF") {
                //swal("", "Please Select Committee", "warning");
            }
            else {
                $('#divScheduledInspection').html(returndata);
                $('#divScheduleOfCommittee').show();
                $('#hScheComm').text('Schedule of committee');
            }
        })
        .error(function (xhr, status) {
            $('#divScheduledInspection').html('');
        });
    }



    function FileuploadMultiple(obj) {

        debugger;

        var getUrl = window.location;
        if (getUrl.host == '192.168.0.200:1018') {
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        } else if (getUrl.host == 'localhost:6411') {
            var baseUrl = getUrl.protocol + "//" + getUrl.host
        }
        else {
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
        }

        var fileId = $(obj).attr("id");
        if ($("#" + fileId)[0].files[0].length == 0) {
            swal("", "Please upload inspection photo", "warning");
            return false;
        }
        var ext = obj.value.match(/\.(.+)$/)[1];


        switch (ext) {
            // case 'pdf':
            case 'jpg':

                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "Maximum 2MB file size are allowed", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + fileId).get(0).files;
                    for (var i = 0; i < files.length; ++i) {

                        if (files.length > 0) {
                            data.append("Files", files[i]);
                        }
                    }
                    $.ajax({
                        url: '@Url.Action("UploadFilePhoto", "CMO")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            debugger
                            if (response != "") {
                                // debugger
                                $('#photoupload').empty();
                                $.each(response, function (i) {
                                    debugger;
                                    $('#photoupload').show().append('<div class="col-md-4"><a href="' + baseUrl + response[i].substring(1) + '" download><img src=' + baseUrl + response[i].substring(1) + ' style="border:2px solid red;width:100%;height:150px;border-radius:10px"></a></div>')
                                });
                                if (response[1] == 'SNV') {
                                    swal("", 'Maximum 2 MB file size are allowed !', "warning");
                                }
                                else if (response[1] == 'TNV') {
                                    swal("", 'File type not Valid, Only .pdf and .jpg file types are allowed !', "warning");
                                } else {
                                    swal("Upload Done", 'Files has been uploaded Successfully !', "success");
                                }

                            }
                            return false;
                        },
                        error: function () {
                        }
                    });

                }
                break;
            default:
                swal("", 'File type not Valid, Only .jpg file types are allowed !', "warning");
                this.value = '';
                return false;
        }

    }


    function UploadFile(Obj) {
        debugger;
        var ext = Obj.value.match(/\.(.+)$/)[1];
        var Id = $(Obj).attr("Id");
        switch (ext) {
            case 'pdf':
            case 'jpg':


                var fileSize = ($("#" + Id)[0].files[0].size / 1024 / 1024);
                if (fileSize > 2) {
                    swal("", "Maximum 2MB file size are allowed", "warning");
                    return false;
                }
                else {
                    var data = new FormData();
                    var files = $("#" + Id).get(0).files;
                    if (files.length > 0) {
                        data.append("File", files[0]);
                    }
                    $.ajax({
                        url: '@Url.Action("UploadFile", "CMO")',
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: data,
                        success: function (response) {
                            debugger;
                            console.log(response.path);
                            $("#inspectionRptPath").val(response[1]);

                            $("#hdndoc").show();
                            var Url = response[1].replace('~/', '');
                            $("#UploadedDoc").prop('href', '@Url.Content("~/")' + Url + '?' + new Date().getTime().toString());


                        return false;
                    },
                        error: function () {

                        }
                    });

            }
            break;
        default:
            swal("", 'Invalid File Format only pdf and jpg files are allow!', "warning");
            this.value = '';
            return false;
    }
}
var strDate = @DateTime.Now.Year + "/" + @DateTime.Now.Month + "/" + @DateTime.Now.Day + "";

    $('#inspectionDate').datepicker({

        minDate: new Date(strDate),

        autoClose: true
    });
    function getshceduleList() {
        if ($("#inspectionDate").val() != "") {
            bindScheduleOfCommittee($("#inspectionDate").val());
        }

    }


    $("input[name=rblDisbilityPer]").click(function () {

        if ($("input[name=rblDisbilityPer]:checked").val() == 1) {
            $(".divSure").hide();
            $(".divNotSure").show();
            $("#btnext").hide();
        }
        else {
            $(".divSure").show();
            $("#btnext").hide();
            $(".divNotSure").hide();
        }

    });
    $("#btnext").click(function () {

        $(".divSure").hide();
        $(".divNotSure").show();
        $("#btnext").hide();
    });
    $("input[name=forwardtype]").click(function () {
        binddropdown($("input[name=forwardtype]:checked").val());
        $('#forwardedType').val($("input[name=forwardtype]:checked").val());
        $("#spanForwardType").hide();
    });
    function binddropdown(Id) {

        debugger;
        $.ajax({
            url: '@Url.Action("BindForwardDropdownlist", "CMO")',
            data: { rollId: Id },
            type: 'GET',
            async: false,
            dataType: 'json',
            success: function (data) {
                $("#forwardedTo").empty();
                $("#forwardedTo").append('<option value="">--Select--</option>');
                $.each(data, function (id, result) {
                    $("#forwardedTo").append('<option value="' + result.Value + '">' + result.Text + '</option>');
                })
            },
            error: function (xhr, status) {
                //alert(status);
            }
        });
    }
    $("input[name=rbl_check]").click(function () {
        $("#spanPositiveNegative").hide();
        if ($("input[name=rbl_check]:checked").val() == 1) {
            $(".appInsStatushdn").hide();
            $(".CertOrReject").hide();
            $("#btnnext").show();
        }
        else {
            $(".CertOrReject").show();
            $(".appInsStatushdn").show();
            $("#btnnext").hide();

        }
    });
    $(".btnfrwd").click(function () {

        if ($("input[name=forwardtype]:checked").length == 0) {

            $("#spanForwardType").show();
            return false;
        }
        else {
            $("#spanForwardType").hide();

            return true;
        }
    });
    $("#btnupldinsrpt1").click(function () {
        if ($("input[name=chkdesig]:checked").length == 0) {
            $("#spanmember1").show();
            return false;
        }
        else {
            $("#spanmember1").hide();
            return true;
        }
    });


    $("#btnnext").click(function () {
        if ($("input[name=rbl_check]:checked").length == 0) {
            $("#spanPositiveNegative").show();
            return false;
        }
        else {
            $("#spanPositiveNegative").hide();
            return true;
        }
    });

    function acceptApp() {
        debugger;
        swal({
            title: "Are you sure you want to Accept this Application?",
            text: "Once you Accept you will not be able to change it.",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, Accept it !",
            cancelButtonText: "No, Cancel it !",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                $('#bitAppAccept').click();
            }
        });
    }

</script>
