@model CCSHealthFamilyWelfareDept.Models.MERModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .stronglbl label {
        font-weight: 600 !important;
        display: block;
    }
    /*.stronglbl label:after {
            content:":";
            float:right;
            display:block;
        }*/
    .form-group {
        border-bottom: 1px solid #ccc;
    }
</style>

<div class="content-title">
    <h3 class="main-title">Medical Reimbursement Details 
      
        <a href="@Url.Action("ViewMERList", "MER")" class="btn btn-info btn-md pull-right">Back</a></h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body stronglbl">
                 <h4>Treatment Type</h4>
                  <div class="form-group">
                    <div class="col-md-3">
                        <label>Application No.</label>
                    </div>
                    <div class="col-md-3">
                        @Model.registrationNo
                    </div>
                    <div class="col-md-3">
                        <label>Treatment  Category</label>
                    </div>
                    <div class="col-md-3">
                        @Model.treatmentName
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4>Employee Details</h4>
              
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Full Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.empfullName
                    </div>
                    <div class="col-md-3">
                        <label>Father Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.father_HusbandName
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Designation</label>
                    </div>
                    <div class="col-md-3">
                        @Model.designation
                    </div>
                    <div class="col-md-3">
                        <label>Department Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.deptName
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">                   
                   
                     <div class="col-md-3">
                        <label>Basic Salary/Wages Scale/Grade</label>
                    </div>
                    <div class="col-md-3">
                        @Model.basicSalary
                    </div>
                     <div class="col-md-3">
                        <label>Aadhaar No.</label>
                    </div>
                    <div class="col-md-3">
                        @Model.manavSampda_AadharNo
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">                   
                    
                    
                      <div class="col-md-3">
                        <label>Date Of Birth</label>
                    </div>
                    <div class="col-md-3">
                        @Model.dob
                    </div>
                      <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        @Model.gender
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">                   
                  
                   
                     <div class="col-md-3">
                        <label>Mobile No</label>
                    </div>
                    <div class="col-md-3">
                        @Model.mobileNo
                    </div>
                </div>
                <div class="clearfix"></div>
               
                <div class="clearfix"></div>
                <h4>PPO detail</h4>
                  <div class="form-group">
                 <div class="col-md-3">
                        <label>Retired from Employeement</label>
                    </div>
                        @if (@Model.isRetirement == true)
                    {
                    <div class="col-md-3">
                       yes
                    </div>
                        }
                      else
                       {
                    <div class="col-md-3">
                       no
                    </div>
                        }
                      @if (@Model.isRetirement == true)
                    {
                       <div class="col-md-3">
                        <label>PPO No </label>
                    </div>
                    <div class="col-md-3">
                        @Model.ppotreament 

                    </div>}
                      </div>
                <div class="clearfix"></div>
                  @if (@Model.isRetirement == true)
                  {
                       <h4>Address of Your Treasury</h4>
                  }
                  else
                  {
                       <h4>Address of Current Posting</h4>
                  }
               
                  <div class="form-group">
                 <div class="col-md-3">
                        <label>Office Name </label>
                    </div>
                    <div class="col-md-3">
                        @Model.officeName
                    </div>
                       <div class="col-md-3">
                        <label>Office Incharge Name </label>
                    </div>
                    <div class="col-md-3">
                        @Model.officeInchargeName 

                    </div>
                      </div>
                <div class="form-group">

                    <div class="col-md-3">
                        <label>Address</label>
                    </div>
                    <div class="col-md-3">
                        @Model.postingAddress
                    </div>
                    <div class="col-md-3">
                        <label>State</label>
                    </div>
                    <div class="col-md-3">
                        @Model.StateName
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>District</label>
                    </div>
                    <div class="col-md-3">
                        @Model.postingDistrictName
                    </div>
                    <div class="col-md-3">
                        <label>Pincode</label>
                    </div>
                    <div class="col-md-3">
                        @Model.postingPinCode
                    </div>
                </div>
                <h4>Permanent Address</h4>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Address</label>
                    </div>
                    <div class="col-md-3">
                        @Model.permAddress
                    </div>
                    <div class="col-md-3">
                        <label>State</label>
                    </div>
                    <div class="col-md-3">
                        @Model.StateName
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>District</label>
                    </div>
                    <div class="col-md-3">
                        @Model.permanentDistrictName
                    </div>
                    <div class="col-md-3">
                        <label>Pincode</label>
                    </div>
                    <div class="col-md-3">
                        @Model.permPinCode
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4>Patient`s Details</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Requesting Medical Reimbursement for </label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientType
                    </div>
                    <div class="col-md-3">
                        <label>Hospital Type</label>
                    </div>
                    <div class="col-md-3">
                        @Model.hospitalType
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                     <div class="col-md-3">
                        <label>Patient Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientName
                    </div>
                    <div class="col-md-3">
                        <label>Age</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientage
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                     <div class="col-md-3">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientgender
                    </div>
                    <div class="col-md-3">
                        <label>Disease Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientdiseaseName
                    </div>
                                   
                </div>
                 <div class="clearfix"></div>
                <div class="form-group">
                      <div class="col-md-3">
                        <label>Place where Disease Identified</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientplaceOfDisease
                    </div>   
                    <div class="col-md-3">
                        <label>Hospital Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patienthospitalName
                    </div>
                  
                </div>
                 <div class="clearfix"></div>
                <div class="form-group">
                      <div class="col-md-3">
                        <label>Doctor Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientdoctorName
                    </div>
                    <div class="col-md-3">
                        <label>Treatment Period From</label>
                    </div>
                    <div class="col-md-3">
                        @DateTime.Parse(@Model.patienttreatmentFromDate).ToShortDateString()
                    </div>
                                   
                </div>          
                <div class="clearfix"></div>
                <div class="form-group">
                       <div class="col-md-3">
                        <label>Treatment Period To</label>
                    </div>
                    <div class="col-md-3">
                        @DateTime.Parse(@Model.patienttreatmentToDate).ToShortDateString()
                    </div>  
                    <div class="col-md-3">
                        <label>Patient Aadhaar no</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientAadhaarNo
                    </div>
                                  
                </div>
                <div class="clearfix"></div>
               <div class="form-group">
                     <div class="col-md-3">
                        <label>Relations with Employee</label>
                    </div>
                    <div class="col-md-3">
                        @Model.patientrelationsWithEmployee
                    </div>     
                </div>
                 <div class="clearfix"></div>
                <h4>Advance Detail</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Have you already taken Advance</label>
                    </div>
                    <div class="col-md-3">
                        @Model.isAdvanceTaken
                    </div>
                     @if (@Model.isAdvanceTaken == "Yes")
                     {
                    <div class="col-md-3">
                        <label>Amount</label>
                    </div>
                    <div class="col-md-3">
                        @Model.branchName
                    </div>
                     }
                </div>
                @if (@Model.isAdvanceTaken == "Yes")
                {
                <div class="clearfix"></div>
                 <div class="form-group">
                    <div class="col-md-3">
                        <label>Letter No</label>
                    </div>
                    <div class="col-md-3">
                        @Model.advanceLetterNo
                    </div>
                    <div class="col-md-3">
                        <label>Date</label>
                    </div>
                    <div class="col-md-3">
                        @Model.advanceDate
                    </div>
                </div>
                }
                <div class="clearfix"></div>
                <h4>Bank Details of Employee</h4>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Bank Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.bankName
                    </div>
                    <div class="col-md-3">
                        <label>Branch Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.branchName
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Account Number</label>
                    </div>
                    <div class="col-md-3">
                        @Model.accountNo
                    </div>
                    <div class="col-md-3">
                        <label>IFSC Code</label>
                    </div>
                    <div class="col-md-3">
                        @Model.ifscCode
                    </div>
                </div>
                <div class="clearfix"></div>
                <h4>Details of expenditure</h4>
                <div class="clearfix"></div>
                <div id="childlist">
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.7.1.js"></script>

</div>
<script>
    $(document).ready(function () {
        ChildList();
    });
    function ChildList() {
        debugger;
        $.ajax({
            url: '@Url.Action("BindChildList", "MER")',
            datatype: 'html',
            type: 'GET',
            async: false,
            success: function (data) {
                $("#childlist").html(data);
            },


        });
    }
</script>

