@model List<CCSHealthFamilyWelfareDept.Models.CountReportModel>
@{
    int rowSpan = 1, rowSpan1 = 1, sNo = 0;
    string preValue = "", preValue1 = "";
}
@using CCSHealthFamilyWelfareDept.Models
@{
    SessionManager SM = new SessionManager();
    
}
<table class="table table-bordered table-striped" style="border-collapse: collapse;" border="1">
    <thead>
        <tr>
            <th style="width: 5%; text-align: center;">S.No.</th>
            <th>Service Name</th>
            <th>District</th>

            <th style="width: 12%; text-align: center;">Total Received</th>
            <th style="width: 5%; text-align: center;">Approved</th>
            <th style="width: 5%; text-align: center;">Rejected</th>
            <th style="width: 17%; text-align: center;">Pending In-Time Limit</th>
            <th style="width: 18%; text-align: center;">Pending After-Time Limit</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {

            foreach (var item in Model)
            { 
            <tr>
                @if (preValue != item.serviceName)
                {
                    sNo++;
                    rowSpan = Model.Where(m => m.serviceName == item.serviceName).Count();
                    <td style="text-align: center;">@sNo</td>  
                    <td>

                        @item.serviceName


                    </td> 
                }
                <td>
                    @item.DistrictName

                </td>

                 <td style="text-align: center;">@Html.Raw(item.totalReceived > 0 ? "<a href=" + @Url.Action("CMOSRVCountReportDistrictServiceListCMOCHCPHCPublic", "Public", new {rollId=@OTPL_Imp.CustomCryptography.Encrypt(@item.rollId.ToString()),  appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("0"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt("0"), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()), userId = @OTPL_Imp.CustomCryptography.Encrypt(@item.profileId.ToString()) ,fromDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.fromDate.ToString()), toDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.toDate.ToString())  }) + ">" + item.totalReceived + "</a>" : item.totalReceived.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.approved > 0 ? "<a href=" + @Url.Action("CMOSRVCountReportDistrictServiceListCMOCHCPHCPublic", "Public", new {rollId=@OTPL_Imp.CustomCryptography.Encrypt(@item.rollId.ToString()), appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("1"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt("0"), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) , userId = @OTPL_Imp.CustomCryptography.Encrypt(@item.profileId.ToString()) ,fromDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.fromDate.ToString()), toDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.toDate.ToString())  }) + ">" + item.approved + "</a>" : item.approved.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.rejected > 0 ? "<a href=" + @Url.Action("CMOSRVCountReportDistrictServiceListCMOCHCPHCPublic", "Public", new {rollId=@OTPL_Imp.CustomCryptography.Encrypt(@item.rollId.ToString()), appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("2"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt("0"), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()), userId = @OTPL_Imp.CustomCryptography.Encrypt(@item.profileId.ToString()) ,fromDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.fromDate.ToString()), toDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.toDate.ToString())  }) + ">" + item.rejected + "</a>" : item.rejected.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.pendingInTimeLimit > 0 ? "<a href=" + @Url.Action("CMOSRVCountReportDistrictServiceListCMOCHCPHCPublic", "Public", new {rollId=@OTPL_Imp.CustomCryptography.Encrypt(@item.rollId.ToString()), appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("3"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt("0"), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()) , userId = @OTPL_Imp.CustomCryptography.Encrypt(@item.profileId.ToString()) ,fromDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.fromDate.ToString()), toDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.toDate.ToString()) }) + ">" + item.pendingInTimeLimit + "</a>" : item.pendingInTimeLimit.ToString())</td>
                                <td style="text-align: center;">@Html.Raw(item.pendingOverTimeLimit > 0 ? "<a href=" + @Url.Action("CMOSRVCountReportDistrictServiceListCMOCHCPHCPublic", "Public", new {rollId=@OTPL_Imp.CustomCryptography.Encrypt(@item.rollId.ToString()), appCurrStatus = @OTPL_Imp.CustomCryptography.Encrypt("4"), zoneId = @OTPL_Imp.CustomCryptography.Encrypt("0"), districtId = @OTPL_Imp.CustomCryptography.Encrypt(@item.DistrictId.ToString()), serviceId = @OTPL_Imp.CustomCryptography.Encrypt(@item.serviceId.ToString()), userId = @OTPL_Imp.CustomCryptography.Encrypt(@item.profileId.ToString()) ,fromDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.fromDate.ToString()), toDate = @OTPL_Imp.CustomCryptography.Encrypt(@item.toDate.ToString()) }) + ">" + item.pendingOverTimeLimit + "</a>" : item.pendingOverTimeLimit.ToString())</td>
              @*  <td style="text-align: center;">@item.totalReceived</td>
                <td style="text-align: center;">@item.approved</td>
                <td style="text-align: center;">@item.rejected</td>
                <td style="text-align: center;">@item.pendingInTimeLimit</td>
                <td style="text-align: center;">@item.pendingOverTimeLimit</td>*@
            </tr>
            
            
                preValue = item.DistrictName;

            }

            
            <tr id="totalRow">
              
                    

                    <td rowspan="@rowSpan" style="text-align: center;"></td>
                    <td rowspan="@rowSpan" style="text-align: center;"></td>
                    <td rowspan="@rowSpan"><strong>Total</strong></td>



                    <td style="text-align: center;">@Model.Sum(i => i.totalReceived)</td>
                    <td style="text-align: center;">@Model.Sum(i => i.approved)</td>
                    <td style="text-align: center;">@Model.Sum(i => i.rejected)</td>
                    <td style="text-align: center;">@Model.Sum(i =>i.pendingInTimeLimit)</td>
                    <td style="text-align: center;">@Model.Sum(i =>i.pendingOverTimeLimit)</td>

                
            </tr>
            
        
            

        }
        else
        {
            <tr>
                <td colspan="8">Record Not Found</td>
            </tr>
        }

    </tbody>
</table>



