@model CCSHealthFamilyWelfareDept.Models.ApplicationWorkFlowStepStatusModel
@{
    ViewBag.Title = "_ViewApplicationWorkFlowStatusNUH";
    Layout = "~/Views/Shared/_DarpanLayout.cshtml";
}

<style>
    .form-group label {
        color: #333;
        font-weight: 600;
    }
</style>

<script>
    function ViewModal(imsgSrc) {
        debugger;
        $('.modal').modal('show')
        $('#viewimg').attr('src', imsgSrc.src)
        $('#imgDownload').attr('href', imsgSrc.src)
    }
</script>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body ImgSRc">
                <img src="" id="viewimg" style="height: 300px; width: 100%; border: 1px solid red; border-radius: 10px;" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="" id="imgDownload" style="padding: 10px; margin-top: 5px" title="Download" download><i class="fa fa-download fa-2x" style="margin-right: 20px;"></i></a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="content-title">
    <h3 class="main-title"><strong>Medical Establishment</strong>
        <span style="text-decoration: underline">Application Process Details</span>
        @*<a href="javascript:history.back()" id="BtnBack" class="btn btn-primary btn-sm pull-right btnHistoryBack" style="margin-top: 7px;">Back</a>*@
    </h3>
</div>


<div class="col-md-12" style="margin-top: 13px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="title elipsis">
                <h4>Application Recieve</h4>
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Application No.</label>
                    </div>
                    <div class="col-md-3">
                        @Model.registrationNo
                    </div>
                    <div class="col-md-3">
                        <label>Application Submitted Date</label>
                    </div>
                    <div class="col-md-3">
                        @Model.AppSubmittedDate
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Application Submitted By</label>
                    </div>
                    <div class="col-md-3">
                        @Model.AppSubmittedBy
                    </div>
                    <div class="col-md-3">
                        <label>Establishment Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.establishmentName
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Category Name</label>
                    </div>
                    <div class="col-md-3">
                        @Model.CategoryName
                    </div>

                    <div class="col-md-3">
                        <label>MCI/SMF No.</label>
                    </div>
                    <div class="col-md-3">
                        @Model.UPMCI_SMF_Number
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.QueryRaised))
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Query </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Query By CMO</label>
                        </div>
                        <div class="col-md-9">
                            @Model.QueryRaised
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Query By CMO On Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.QueryRaisedDate
                        </div>
                        <div class="col-md-3">
                            <label>Query Raised By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.QueryRaisedBy , @Model.DistrictName
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.QueryReply))
{
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Reply </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Reply By Citizen</label>
                        </div>
                        <div class="col-md-9">
                            @Model.QueryReply
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Reply By Citizen On Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.QueryReplyDate
                        </div>

                        <div class="col-md-3">
                            <label>Query Reply By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.QueryReplyBy
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Upload Relevent Document By Citizen</label>
                        </div>
                        <div class="col-md-3">
                            @if (!string.IsNullOrEmpty(Model.ReplyReleventFilePath))
                            {
                                <a href="@Url.Content(@Model.ReplyReleventFilePath)" target="_blank"><i class="fa fa-download fa-2x"></i></a>  
                            }
                            else
                            {
                                <label>NA</label>
                            }

                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
}

@if (Model.AppStatus != null)
{
    if (Model.AppStatus == 0)
    {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Application Rejected </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Application Rejected By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppRejectBy
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Application Rejected Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppRejectedDate
                        </div>

                        <div class="col-md-3">
                            <label>Application Rejected Remark</label>
                        </div>
                        <div class="col-md-3">

                            @Model.appRejectedRemark
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
    }
    else if (Model.AppStatus == 4)
    { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Inspection Report Rejected </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Inspection Report Rejected By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionReportRejectedBy
                        </div>
                        <div class="col-md-3">
                            <label>Inspection Report Rejected Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppRejectedDate
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <label>Inspection Report Rejected Remark</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionRejectRemark
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
    }
    else
    {

        if (!string.IsNullOrEmpty(Model.AppAcceptedDate))
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Application Accepted </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Application Accepted By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppAcceptedBy
                        </div>
                        <div class="col-md-3">
                            <label>Application Accepted Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppAcceptedDate
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
        }

        if (!string.IsNullOrEmpty(Model.InspectionSheduleDate))
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Inspection Scheduled </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Inspection Scheduled By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionSheduleBy
                        </div>
                        <div class="col-md-3">
                            <label>Inspection Scheduled Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionSheduleDate
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <label>Inspection Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionDate
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
        }

        if (!string.IsNullOrEmpty(Model.InspReportUploadedDate))
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Inspection Report Uploaded </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Inspection Report Uploaded By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionReportAcceptBy
                        </div>
                        <div class="col-md-3">
                            <label>Inspection Report Uploaded Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspReportUploadedDate
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-3">
                            <label>Inspection Report Uploaded File</label>
                        </div>
                        <div class="col-md-3">
                            @if (!string.IsNullOrEmpty(Model.InspReportFilePath))
                            {
                                <a href="@Url.Content(@Model.InspReportFilePath)" target="_blank"><i class="fa fa-download fa-2x"></i></a>  
                            }
                            else
                            {
                                <label>NA</label>
                            }

                        </div>
                        <div class="col-md-3">
                            <label>Commettee Members</label>
                        </div>
                        <div class="col-md-3">
                            @Model.ComettiMemberName
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label class="bold">Uploaded Inspection Photo </label>
                        <div id="photoupload" style="padding-top: 10px;">
                            @if (Model.inspReportFilePhotoPath != null && Model.inspReportFilePhotoPath.Length != 0)
                            {
                                foreach (string item in @Model.inspReportFilePhotoPath)
                                {
                                <div class="col-md-3" style="margin-top: 10px;">
                                    <img src="@Url.Content(item)" style="border: 2px solid red; width: 100%; height: 150px; border-radius: 10px;cursor:pointer" onclick="ViewModal(this)">
                                </div>
                                }
                            }
                            else
                            {
                            
                                <label>NA</label>
                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
        }

        if (!string.IsNullOrEmpty(Model.InspectionRejectedAcceptedDate))
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Inspection Report Accepted </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Inspection Report Accepted By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionReportRejectedBy
                        </div>
                        <div class="col-md-3">
                            <label>Inspection Report Accepted Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.InspectionRejectedAcceptedDate
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        }

        if (string.IsNullOrEmpty(Model.certificateFilePath))
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Pending For Generate Certificate </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Pending For Generate Certificate</label>
                        </div>
                        <div class="col-md-3">
                            @if (!string.IsNullOrEmpty(Model.certificateFilePath))
                            {
                                <a href="@Url.Content(@Model.certificateFilePath)" target="_blank"><i class="fa fa-download fa-2x"></i></a>  
                            }
                            else
                            {
                                <label>NA</label>
                            }

                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        }

        if (!string.IsNullOrEmpty(Model.certificateFilePath) && Model.appliedStatus != "Application Canceled")
        { 
    
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Generated Certificate </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Certificate Generated Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.CertificateGeneratedDate
                        </div>
                        <div class="col-md-3">
                            <label>Certificate Generated By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.CertificateGeneratedBy
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Certificate</label>
                        </div>
                        <div class="col-md-4">
                            <label class="text-success"><strong>@Model.appliedStatus</strong> </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
        }
        else
        {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Application Canceled</h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Application Canceled Date</label>
                        </div>
                        <div class="col-md-3">
                            @Model.appCancelDate
                        </div>
                        <div class="col-md-3">
                            <label>Application Canceled By</label>
                        </div>
                        <div class="col-md-3">
                            @Model.appCancelBy
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Application Canceled File</label>
                        </div>
                        <div class="col-md-3">
                            @if (!String.IsNullOrEmpty(@Model.appCancelFile))
                            {
                                <a href="@Url.Content(@Model.appCancelFile)" target="_blank"><i class="fa fa-download fa-2x"></i></a>
                            }
                            else
                            {
                                <label>N/A</label>
                            }
                        </div>
                        <div class="col-md-3">
                            <label>Application Canceled Reason</label>
                        </div>
                        <div class="col-md-3">
                            @Model.AppCancleRemark
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
        }
    }

    //Pendency Details
    if (Model.AppStatus != 0 && Model.AppStatus != 4 && Model.AppStatus != 6)
    {
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Application Pendency </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Pending At</label>
                        </div>

                        @if (Model.AppStatus == -1)
                        {
                            <div class="col-md-3">
                                @Model.CMOName , @Model.DistrictName
                            </div>
                        }
                        else if (Model.AppStatus == 1)
                        {
                            <div class="col-md-3">
                                @Model.AppAcceptedBy , @Model.DistrictName
                            </div>
                        }
                        else if (Model.AppStatus == 2)
                        {
                            <div class="col-md-3">
                                @Model.InspectionSheduleBy , @Model.DistrictName
                            </div>
                        }
                        else if (Model.AppStatus == 3)
                        {
                            <div class="col-md-3">
                                @Model.AppAcceptedBy , @Model.DistrictName
                            </div>
                        }

                        else if (Model.AppStatus == 5)
                        {
                            <div class="col-md-3">
                                @Model.InspectionReportRejectedBy , @Model.DistrictName
                            </div>
                        }

                        else if (Model.AppStatus == 6 && string.IsNullOrEmpty(Model.certificateFilePath))
                        {
                            <div class="col-md-3">
                                @Model.CertificateGeneratedBy , @Model.DistrictName
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}




