@{
    ViewBag.Title = "DarpanDashBoard";
    Layout = "~/Views/Shared/_DarpanLayout.cshtml";
}
@using CCSHealthFamilyWelfareDept.Models

@{
    SessionManager SM = new SessionManager();
}

<div class="content-title">
    <h3 class="main-title">
        <div class="col-md-12">
            <strong>
                @SM.RollAbbrNameHi दर्पण डैशबोर्ड <span class="small">@SM.RollAbbrName Darpan Dashboard</span>
            </strong>
        </div>
    </h3>
</div>

<div id="content" class="padding-20">
    <div class="row">
        <div class="col-md-12">
            <ul class="circle">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("1")})" class="red">
                        <img src="@Url.Content("~/images/womens-health.png")">
                        1. चिकित्सा प्रतिष्ठानों का पंजीकरण
                                   <span class="nmicon2">Registration of Medical Establishments</span>

                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("7")})" class="indigo">
                        <img src="@Url.Content("~/images/immunizations.png")">
                        2.  असफल परिवार नियोजन के भुगतान हेतु अनुरोध 
                                     <span class="nmicon2">Request for the Payment of Unsuccessful Family Planning </span>

                    </a></li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("4")})" class="cyan">
                        <img src="@Url.Content("~/images/registration.png")">
                        3. विकलांगता प्रमाणपत्र हेतु अनुरोध 
                                    <span class="nmicon2">Request for Disability Certificate </span>

                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("10")})" class="green">
                        <img src="@Url.Content("~/images/medical-records.png")">
                        4. आयु प्रमाणपत्र हेतु अनुरोध 
                                    <span class="nmicon2">Request for Age Certificate</span>

                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("8")})" class="brown">
                        <img src="@Url.Content("~/images/mammography.png")">
                        5. चिकित्सा प्रतिपूर्ति हेतु अनुरोध
                                     <span class="nmicon2">Request for Medical Reimbursement</span>

                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("2")})" class="yellow">
                        <img src="@Url.Content("~/images/immunizations.png")">
                        6. बीमारी प्रमाणपत्र का निर्गमन
                        <span class="nmicon2">Request for Illness Certificate </span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("3")})" class="cyan">
                        <img src="@Url.Content("~/images/registration.png")">
                        7. स्वास्थ्य प्रमाणपत्र का निर्गमन
                        <span class="nmicon2">Request for Fitness Certificates</span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("5")})" class="yellow">
                        <img src="@Url.Content("~/images/immunizations.png")">
                        8. टीकाकरण प्रमाणपत्र का निर्गमन 
                        <span class="nmicon2">Request for Immunization Certificate </span>
                    </a>
                </li>

                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("6")})" class="cyan">
                        <img src="@Url.Content("~/images/emergency.png")">
                        9. मृत्यु प्रमाणपत्र का निर्गमन
                        <span class="nmicon2">Request for Death Certificate</span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("9")})" class="red">
                        <img src="@Url.Content("~/images/diabetes-education.png")">
                        10. मेडिको लीगल प्रमाणपत्र का निर्गमन
                        <span class="nmicon2">Request for Medico-Legal Certificate</span>
                    </a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("CMOSRVCountReportDivisionWiseNew", "public", new { serviceId = @OTPL_Imp.CustomCryptography.Encrypt("11")})" class="yellow">
                        <img src="@Url.Content("~/images/labor-delivery.png")">
                        11. बच्चों के टीकाकरण प्रमाणपत्र का निर्गमन
                        <span class="nmicon2">Request for Immunization Certificate for Children</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
