@model CCSHealthFamilyWelfareDept.Models.ApplicationDetailsModel
@{
    ViewBag.Title = "getDistrictServiceRollApplicantDtl";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
@{
    int sNo = 0; 
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnBack").click(function () {
            history.back();
        })
    })


</script>

<div class="container">
    <div class="services-heading" style="margin-bottom: 15px;">
        @if (Model.appCurrStatus == 0)
        {
            <h2>@ViewBag.RollNameHi - कुल प्राप्त आवेदन</h2>
            <h3>@ViewBag.RollName - Total Received Application</h3>
            
        }
        else if (Model.appCurrStatus == 1)
        {
            <h2>
                @ViewBag.RollNameHi - स्वीकृत आवेदन</h2>
            <h3>@ViewBag.RollName - Approved Application</h3>
            
        }
        else if (Model.appCurrStatus == 2)
        {
            <h2>
                @ViewBag.RollNameHi - अस्वीकृत आवेदन</h2>
            <h3>@ViewBag.RollName - Rejected Application</h3>
            
        }
        else if (Model.appCurrStatus == 3)
        {
            <h2>
                @ViewBag.RollNameHi - समय सीमा में लंबित आवेदन </h2>
            <h3>@ViewBag.RollName - Pending In-Time Limit Application</h3>
           
        }
        else if (Model.appCurrStatus == 4)
        {
            <h2>
                @ViewBag.RollNameHi - समय सीमा के बाद लंबित आवेदन</h2>
            <h3>@ViewBag.RollName - Pending After-Time Limit Application</h3>
            
        }
        <input type="button" value="Back" id="btnBack" class="btn btn-primary btn-sm pull-right btnHistoryBack" style="margin-top: -40px;" />
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" style="border-bottom: 1px solid #333; margin-bottom: 15px;">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bold">Division Name : </label>
                                <label>@Model.zoneName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-center">
                                <label class="bold">District : </label>
                                <label>@Model.DistrictName</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group text-right">
                                <label class="bold">Service Name : </label>
                                <label>@Model.serviceName</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 5%; text-align: center;">S.No.</th>
                                        <th style="width: 5%; text-align: center;">Application No.</th>
                                        <th style="width: 5%; text-align: center;">Application Date</th>
                                        <th style="width: 5%; text-align: center;">Applicant Name</th>
                                        <th style="width: 5%; text-align: center;">Mobile No.</th>
                                        @if (Model.appCurrStatus == 1)
                                        {
                                            <th style="width: 5%; text-align: center;">Approved On</th> 
                                        }
                                        else if (Model.appCurrStatus == 2)
                                        {
                                            <th style="width: 5%; text-align: center;">Rejected On</th> 
                                            <th style="width: 5%; text-align: center;">Rejection Remark</th>
                                        }
                                        else if (Model.appCurrStatus == 3 || Model.appCurrStatus == 4)
                                        {
                                            <th style="width: 5%; text-align: center;">Time Limit Days</th> 
                                            <th style="width: 5%; text-align: center;">Received Days</th> 
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.appDetailList != null && Model.appDetailList.Count > 0)
                                    {
                                        foreach (var item in Model.appDetailList)
                                        {
                                            sNo++;
                                        <tr>
                                            <td style="text-align: center;">@sNo</td>
                                            @if (ViewBag.CurrLogRollId == 2)
                                            {
                                                <td>@item.registrationNo</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @if (Model.serviceId == 1)
                                                    {
                                                        @item.registrationNo
@*<a href="@Url.Action("PrintApplicationFormNUH", "Public", new { regisIdNUH = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank"></a>*@
                                                    }
                                                    else if (Model.serviceId == 10)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormAGC", "CMO", new { regisIdAGC = @item.regisId })"  target="_blank"></a>*@ 
                                                    }
                                                    else if (Model.serviceId == 4)
                                                    {
                                                        @item.registrationNo
@*<a href="@Url.Action("PrintApplicationFormDIC", "CMO", new { registrationNo = @OTPL_Imp.CustomCryptography.Encrypt(@item.registrationNo.ToString()) })"  target="_blank"></a>*@ 
                                                    }
                                                    else if (Model.serviceId == 7)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormFAP", "CMO", new { regisIdFAP = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank"></a>*@ 
                                                    }
                                                    else if (Model.serviceId == 8)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormMER", "CMO", new { regisId = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank">@item.registrationNo</a>*@ 
                                                    }
                                                    else if (Model.serviceId == 2)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormILC", "CHC", new { regisId = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })" target="_blank">@item.registrationNo</a>*@
                                                    }
                                                    else if (Model.serviceId == 3)
                                                    {
                                                        @item.registrationNo
@*<a href="@Url.Action("PrintApplicationFormFIC", "CHC", new { registrationNo = @OTPL_Imp.CustomCryptography.Encrypt(@item.registrationNo) })" target="_blank">@item.registrationNo</a>*@
                                                    }
                                                    else if (Model.serviceId == 6)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormDEC", "CHC", new { regisIdDEC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank">@item.registrationNo</a>*@ 
                                                    }
                                                    else if (Model.serviceId == 11)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormICC", "CHC", new { regisIdICC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank">@item.registrationNo</a>*@
                                                    }
                                                    else if (Model.serviceId == 5)
                                                    {
                                                        @item.registrationNo 
@*<a href="@Url.Action("PrintApplicationFormIMC", "CHC", new { regisIdIMC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank">@item.registrationNo</a>*@
                                                    }
                                                    else if (Model.serviceId == 9)
                                                    {
                                                        @item.registrationNo
@*<a href="@Url.Action("PrintApplicationFormMLC", "CHC", new { regisIdMLC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisId.ToString()) })"  target="_blank">@item.registrationNo</a>*@
                                                    }
                                                </td>
                                            }
                                            <td>@item.applicationDate</td>
                                            <td>@item.applicantName</td>
                                            <td>@item.applicantMobileNo</td>
                                            @if (Model.appCurrStatus == 1)
                                            {
                                                <td>@item.approvedDate</td>
                                            }
                                            else if (Model.appCurrStatus == 2)
                                            {
                                                <td>@item.rejectedDate</td>
                                                <td>@item.rejectedRemark</td>
                                            }
                                            else if (Model.appCurrStatus == 3 || Model.appCurrStatus == 4)
                                            {
                                                <td>@item.timeLimitDays</td>
                                                <td>@item.receivedDays</td>
                                            }
                                        </tr> 
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="@(Model.appCurrStatus == 0 ? 5 : Model.appCurrStatus == 1 ? 6 : 7)">Record Not Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


