@model List<CCSHealthFamilyWelfareDept.Models.ICCDetailsModel>
@using OTPL_Imp

@using CCSHealthFamilyWelfareDept.Models

@{
    SessionManager SM = new SessionManager();
}

<style>
    .webgrid-header a {
        color: white;
        text-decoration: none;
    }
</style>

@if (SM.RollID != 8)
{
    if (Model != null && Model.Count() > 0)
    {
        WebGrid grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "divDataList");
             
    <div id="divDataList">
        @grid.GetHtml(tableStyle: "table-user-information table table-bordered table-striped",
            headerStyle: "webgrid-header",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
            grid.Column(header: "S No.", style: "white", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("registrationNo", header: "Application No.", format: @<text><a href="@Url.Action("PrintApplicationFormICC", "CHC", new { regisIdICC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisIdICC.ToString()) })"  target="_blank">@item.registrationNo</a></text>),
            grid.Column("appliedDate", header: "Application Date"),
            grid.Column("fullName", header: "Name"),
            grid.Column("mobileNo", header: "Mobile No."),
            grid.Column("dob", header: "Date of Birth"),
            grid.Column("certificateGeneratedDate", header: "Aproove Date"),
            grid.Column("appliedStatus", header: "Current Status"),
            grid.Column(header: "Certificate", format: @<text>
        @if (@item.isUpload && !string.IsNullOrEmpty(@item.uploadCertificatePath))
        {
            <a href="@Url.Action("DownloadFileByPath", "CMO", new { filePath = Server.UrlEncode(@OTPL_Imp.CustomCryptography.Encrypt(@item.uploadCertificatePath)) })" aria-hidden="true" class="fa fa-download icon-grn" target="_blank"></a>
        }
        else
        {
            if (!string.IsNullOrEmpty(@item.certificateFilePath))
            {
            <a href="@Url.Action("DownloadFileByPath", "CMO", new { filePath = Server.UrlEncode(@OTPL_Imp.CustomCryptography.Encrypt(@item.certificateFilePath)) })" aria-hidden="true" class="fa fa-download icon-grn" target="_blank"></a>
            }
            else
            {
            <a href="@Url.Action("ICCgeneratedCertificate", "CHC", new { regisIdICC = Convert.ToInt64(@item.regisIdICC.ToString()) })"  target="_blank"><i class="fa fa-download icon-grn"></i></a>
            }
        }
        </text>),
            grid.Column(header: "Upload Certificate", format: @<text>@if (@item.isUpload && !string.IsNullOrEmpty(@item.uploadCertificatePath))
                                                                     {<p>Certificate Uploded</p>}
                                                                     else
                                                                     {<a href="@Url.Action("UploadCertificateICC", "CHC", new { regisId = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisIdICC.ToString()) })" aria-hidden="true" class="fa fa-upload icon-grn"></a>}</text>)


                    ))
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger form-control" style="font-weight: 600; font-size: 18px;">No record found !</span>
        </div>
    </div>
    }
}
else
{
    if (Model != null && Model.Count() > 0)
    {
        WebGrid grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "divDataList");
             
    <div id="divDataList">
        @grid.GetHtml(tableStyle: "table-user-information table table-bordered table-striped",
            headerStyle: "webgrid-header",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
            grid.Column(header: "S No.", style: "white", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("registrationNo", header: "Application No.", format: @<text><a href="@Url.Action("PrintApplicationFormICC", "CHC", new { regisIdICC = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisIdICC.ToString()) })"  target="_blank">@item.registrationNo</a></text>),
            grid.Column("appliedDate", header: "Application Date"),
            grid.Column("fullName", header: "Name"),
            grid.Column("mobileNo", header: "Mobile No."),
            grid.Column("dob", header: "Date of Birth"),
            grid.Column("certificateGeneratedDate", header: "Aproove Date"),
            grid.Column("appliedStatus", header: "Current Status"),
            grid.Column(header: "Certificate", format: @<text>
        @if (@item.isUpload && !string.IsNullOrEmpty(@item.uploadCertificatePath))
        {
            <a href="@Url.Action("DownloadFileByPath", "CMO", new { filePath = Server.UrlEncode(@OTPL_Imp.CustomCryptography.Encrypt(@item.uploadCertificatePath)) })" aria-hidden="true" class="fa fa-download icon-grn" target="_blank"></a>
        }
        else
        {
            if (!string.IsNullOrEmpty(@item.certificateFilePath))
            {
            <a href="@Url.Action("DownloadFileByPath", "CMO", new { filePath = Server.UrlEncode(@OTPL_Imp.CustomCryptography.Encrypt(@item.certificateFilePath)) })" aria-hidden="true" class="fa fa-download icon-grn" target="_blank"></a>
            }
            else
            {
            <a href="@Url.Action("ICCgeneratedCertificate", "CHC", new { regisIdICC = Convert.ToInt64(@item.regisIdICC.ToString()) })"  target="_blank"><i class="fa fa-download icon-grn"></i></a>
            }
        }
        </text>)


                    ))
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger form-control" style="font-weight: 600; font-size: 18px;">No record found !</span>
        </div>
    </div>
    }
}