@model CCSHealthFamilyWelfareDept.Models.MLCModel

@if (Model != null)
{  
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="title elipsis">
                    <h4>Medico-Legal Details</h4>
                </span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td style="width: 16%"><strong>Application No.</strong></td>
                        <td style="width: 16%">@Model.registrationNo</td>
                        <td style="width: 15%"><strong>Application Date</strong></td>
                        <td style="width: 16%">@Model.appliedDate</td>
                        <td><strong>Brought By Name</strong></td>
                        <td>@Model.fullName</td>
                    </tr>
                    <tr>

                        <td><strong>Mobile No.</strong></td>
                        <td>@Model.mobileNo</td>
                        <td><strong>Patient Name</strong></td>
                        <td>@Model.patientName</td>
                        <td style="width: 15%"><strong>Status</strong></td>
                        <td style="width: 15%">@Model.appliedStatus</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>  
}
