@model List<CCSHealthFamilyWelfareDept.Models.ILCDetailsModel>
@using OTPL_Imp

@using CCSHealthFamilyWelfareDept.Models

@{
    SessionManager SM = new SessionManager();
}

<style>
    .webgrid-header a {
        color: white;
        text-decoration: none;
    }
</style>

@if (SM.RollID != 8)
{
    if (Model != null && Model.Count() > 0)
    {
        WebGrid grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "divDataList");
             
    <div id="divDataList">
        @grid.GetHtml(tableStyle: "table-user-information table table-bordered table-striped",
            headerStyle: "webgrid-header",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
            grid.Column(header: "S No.", style: "white", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
          grid.Column(columnName: "registrationNo", header: "Application No", format: @<text><a href="@Url.Action("PrintApplicationFormILC", "CHC", new { regisId = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisIdILC.ToString()) })" target="_blank">@item.registrationNo</a></text>),
            grid.Column("requestDate", header: "Application Date"),
            grid.Column("fullName", header: "Name"),
            grid.Column("fatherName", header: "Father Name"),
            grid.Column("dob", header: "Date Of Birth", format: @<text>@DateTime.Parse(@item.dob).ToShortDateString()</text>),

        grid.Column("RejectDate", header: "Reject Date"),
        grid.Column("RejectRemark", header: "Reject Remark"),
            grid.Column("appliedStatus", header: "Status"),
            grid.Column("appType", header: "Application Type")
            ))
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger form-control" style="font-weight: 600; font-size: 18px;">No record found !</span>
        </div>
    </div>
    }
}
else
{
    if (Model != null && Model.Count() > 0)
    {
        WebGrid grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10, ajaxUpdateContainerId: "divDataList");
             
    <div id="divDataList">
        @grid.GetHtml(tableStyle: "table-user-information table table-bordered table-striped",
            headerStyle: "webgrid-header",
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: grid.Columns(
            grid.Column(header: "S No.", style: "white", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
          grid.Column(columnName: "registrationNo", header: "Application No", format: @<text><a href="@Url.Action("PrintApplicationFormILC", "CHC", new { regisId = @OTPL_Imp.CustomCryptography.Encrypt(@item.regisIdILC.ToString()) })" target="_blank">@item.registrationNo</a></text>),
            grid.Column("requestDate", header: "Application Date"),
            grid.Column("fullName", header: "Name"),
            grid.Column("fatherName", header: "Father Name"),
            grid.Column("dob", header: "Date Of Birth", format: @<text>@DateTime.Parse(@item.dob).ToShortDateString()</text>),

        grid.Column("RejectDate", header: "Reject Date"),
        grid.Column("RejectRemark", header: "Reject Remark"),
            grid.Column("appliedStatus", header: "Status"),
            grid.Column("appType", header: "Application Type")
            ))
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-md-12">
            <span class="text-danger form-control" style="font-weight: 600; font-size: 18px;">No record found !</span>
        </div>
    </div>
    }
}