@{
    ViewBag.Title = "AppliedApplicationMLC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-title">
    <h3 class="main-title">
        <div class="col-md-12 text-left">मेडिको लीगल प्रमाणपत्र का निर्गमन<span class="small display-block">Issuance of Medico- Legal Certificate</span></div>
    </h3>
</div>

<div id="content" class="dashboard padding-20 margin-bottom-50">


    <h4 style="border-bottom:1px solid #ccc; padding-bottom:10px;">Application Process</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="circle">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("ReceivedApplicationMLC", "CHC")" class="red">
                        <img src="@Url.Content("~/images/womens-health.png")">
                        1. कुल लंबित आवेदन 
                      <span class="nmicon2">Total Pending Application </span>
                        <span class="nmicon badge">@Model.totalAppReceived</span> </a></li>
                @*<li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("InProcessApplicationMLC", "CHC")" class="red">
                        <img src="@Url.Content("~/images/womens-health.png")">
                        2. आवेदन प्रक्रिया में है
                      <span class="nmicon2">In-Process Application </span>
                        <span class="nmicon badge">@Model.totalAppInProcess</span> </a></li>*@
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("ApprovedApplicationMLC", "CHC")" class="indigo">
                        <img src="@Url.Content("~/images/immunizations.png")">
                        2. स्वीकृत आवेदन 
                      <span class="nmicon2">Approved Application </span>
                        <span class="nmicon badge">@Model.totalAppApproved</span> </a></li>
               @* <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("RejectedApplicationMLC", "CHC")" class="cyan">
                        <img src="@Url.Content("~/images/registration.png")">
                        4. अस्वीकृत आवेदन 
                      <span class="nmicon2">Rejected Application </span>
                        <span class="nmicon badge">@Model.totalAppRejected</span> </a></li>*@
            </ul>
        </div>
    </div>   

     <br />
    <h4 style="border-bottom: 1px solid #ccc; padding-bottom: 10px;">Application Form - Counter Registration</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="circle">
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("MLCRegistration", "AppRegistration")" class="red">
                        <img src="@Url.Content("~/images/womens-health.png")">
                        New Application </a></li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("ViewMLCInComplete", "AppRegistration")" class="red">
                        <img src="@Url.Content("~/images/womens-health.png")">
                        Incomplete Application </a></li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <a href="@Url.Action("ViewMLCComplete", "AppRegistration")" class="indigo">
                        <img src="@Url.Content("~/images/immunizations.png")">
                        Complete Application </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix"></div>
