@{
    ViewBag.Title = "RejectedApplicationILC";
}
@{
    ViewBag.Title = "InProcessApplicationILC";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-title">
    <h3 class="main-title">
        <div class="col-md-12 text-left">बीमारी प्रमाणपत्र के पंजीकरण का आवेदन<span class="small display-block">List of Rejected Application for Illness certificate</span></div>

    </h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="title elipsis">
                        <h4>Filter Criteria</h4>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Application No.</label>
                                <input type="text" id="txtAppNumber" class="form-control" />
                            </div>
                        </div>
                           <div class="col-md-4">
                            <div class="form-group">
                                <label>Application Type</label>
                                <select class = "form-control" name="cars" id="ddltype">
                                    <option value="">--select--</option>
                                    <option value="1">New</option>
                                    <option value="2">Extended</option>
                                    
                                </select>
                              
                            </div>

                        </div>
                      @*  <div class="col-md-4">
                            <div class="form-group">
                                <label>Application Status</label>
                                @Html.DropDownList("ddlAppStatus", (IEnumerable<SelectListItem>)ViewBag.DLLAppStatus, "--Select--", new { @class = "form-control" })
                            </div>
                        </div>*@
                         <div class="col-md-4">
                            <div class="form-group">
                                <label>Application Date</label>
                                <input type="text" id="txtRequestdate" placeholder="Date" class="form-control datepicker-here" data-language="en">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" id="btnSearch" class="btn btn-block btn-success">Search</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" id="btnRefresh" class="btn btn-block btn-danger">Refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div id="DIV-ApplicationList">
                    @Html.Action("RejectedApplicationListILC", "CHC")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(document).ready(function () {

        if ('@TempData["msg"]' != '' && '@TempData["msgstatus"]' != '') {
            swal("", '@TempData["msg"]', '@TempData["msgstatus"]');
        }
    });
    $(function () {

        $("#btnSearch").click(function () {
            bindApplicationList($("#txtAppNumber").val(), $("#txtRequestdate").val(), $("#ddltype").val());
        });

        $("#btnRefresh").click(function () {
            $("#txtAppNumber").val('');
            $("#txtRequestdate").val('');

            bindApplicationList($("#orderNo").val(), $("#traningSubject").val(), $("#orderDate").val());
        });

    });

    function bindApplicationList(_registrationNo, _requestdate, _ddltype) {
        var img = "<img src='@Url.Content("~/Images/loadingImg.gif")' alt='Loading..' style='margin-left:40%; margin-top:25px' />";
        $('#DIV-ApplicationList').html(img);

        $.ajax({
            url: '@Url.Action("RejectedApplicationListILC", "CHC")',
            data: { registrationNo: _registrationNo, requestDate: _requestdate, appType: _ddltype },
            type: 'GET',
            dataType: 'HTML'
        })
        .success(function (returndata) {
            $('#DIV-ApplicationList').html(returndata);
        })
        .error(function (xhr, status) {
            $('#DIV-ApplicationList').html('');
            swal("", 'Details Not Found !', "warning");
        });
    }

</script>






